@import "./variables";

@mixin make-invisible {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 0;
}

@mixin make-visible {
  opacity: 1 !important;
  pointer-events: auto !important;
  visibility: visible !important;
  z-index: $z-index-top !important;
}

@mixin btn--circle {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
}

@mixin btn--default($text-color, $hover-text-color, $hover-opacity) {
  display: inline-block;
  background-color: transparent;
  color: $text-color;
  cursor: pointer;
  transition: background-color $ani-time-link ease-out color $ani-time-link
    ease-out;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    background-color: rgba($text-color, $hover-opacity);
    color: $hover-text-color;
  }
}

@mixin btn--link($text-color, $hover-text-color, $hover-opacity, $button: false) {
  @if $button {
    @include btn--default($text-color, $hover-text-color, $hover-opacity);
    border-top: solid $size-underline-link $text-color;
    border-bottom: solid $size-underline-link $text-color;
    padding: 0.6rem;
    color: $text-color;

    &:hover {
      font-weight: $font-weight-sm;
    }
  } @else {
    & a {
      @include btn--default($text-color, $hover-text-color, $hover-opacity);
      border-top: solid $size-underline-link $text-color;
      border-bottom: solid $size-underline-link $text-color;
      padding: 0.6rem;
      color: $text-color;

      &:hover {
        font-weight: $font-weight-sm;
      }
    }
  }
}
