// FLEXBOX DEFAULTS

@mixin flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch; // cross axis (default y axis)
    justify-content: flex-start; //main axis (default x axis)
}

@mixin flexitems {
    flex: 0 1 auto; // flex-grow: integer proportion flex-shrink: integer proportion flex-basis: width or auto
    align-self: auto;
}