@import "./variables";

@mixin header-params($bg-image, $bg-position) {
    background-image: $bg-image;
    background-position: $bg-position;
}

@mixin link-btn-params($border-color, $text-color) {

    border-top: solid $size-underline-link $border-color;
    border-bottom: solid $size-underline-link $border-color;

    &:hover {
        background-color: $border-color;
        color: $text-color;
    }
}

@mixin section-header-params($header-color) {
    color: $header-color;
    border-bottom: solid $size-underline-link $header-color;
}

@mixin feature-params($margin-gap, $title-color, $title-font-size, $desc-font-size) {

    &--list {
        margin: 0rem 40rem $margin-gap * 2 40rem;
        gap: $margin-gap;
    }

    &--title {
        color: $title-color;
        font-size: $title-font-size;
    }

    &--desc {
        font-size: $desc-font-size
    }

    &--item {
        padding: $margin-gap 0rem;

        &--outer+&--outer {
            padding-left: $margin-gap;
        }
    }
}

