// Background Color
$bg-main-tint-2-col: #427d50;
$bg-main-tint-1-col: #2b6d3a;
$bg-main-primary-col: #135d24;
$bg-main-shade-1-col: #115420;
$bg-main-shade-2-col: #0f4a1d;

$bg-accent-primary-col: #f8f9fa;

// Text Color
$text-gray-tint-1-col: #ffeef9;
// $text-gray-primary-col: #FFECF8;
$text-gray-primary-col: black;
$text-gray-shade-1-col: #e6d4df;
$text-gray-shade-2-col: #ccbdc6;

$text-header-primary-col: #0f4a1d;
$text-header-shade-1-col: #0f4a1d;

$text-accent-tint-1-col: #dac596;
$text-accent-primary-col: #d6bf8a;
$text-accent-shade-1-col: #c1ac7c;

//Font Sizes
$text-header-size: 1.8rem;

//Font weights
$font-weight-lg: 700;
$font-weight-md: 600;
$font-weight-sm: 500;
$font-weight-xs: 400;

//Padding sizes
$y-padding-sm: 1.2rem;
//Margin sizes

// Other sizes
$link-underline-size: 0.05rem;

//Animation variables
$link-underline-time: 0.2s;
