// Colors
$col-main-tint-2: #427d50;
$col-main-tint-1: #2b6d3a;
$col-main-primary: #135d24;
$col-main-shade-1: #115420;
$col-main-shade-2: #0f4a1d;

$col-accent-tint-2: #decca1;
$col-accent-tint-1: #dac596;
$col-accent-primary: #d6bf8a;
$col-accent-shade-1: #c1ac7c;

$col-gray-tint-1: #ebdce5;
$col-gray-primary: #e9d8e2;
$col-gray-shade-1: #e6d4df;
$col-gray-shade-2: #ccbdc6;

$col-white-primary: #f8f9fa;
$col-black-primary: #212529;

//Font Sizes
$font-size-header-lg: 4.8rem;
$font-size-header-md: 3.4rem;
$font-size-header-sm: 2.8rem;

$font-size-text-lg: 2.6rem;
$font-size-text-md: 2.0rem;
$font-size-text-s: 1.6rem;
$font-size-text-xs: 1rem;

//Font weights
$font-weight-lg: 700;
$font-weight-md: 600;
$font-weight-sm: 500;
$font-weight-xs: 400;

//Line Height
$font-line-height-lg: 1.8;

//Padding sizes
$padding-layout-lg: 1.2rem;
$padding-btn-lg: 0.6rem;

//Margin sizes
$margin-flex-lg: 2.4rem;

// Other sizes
$size-underline-link: 0.05rem;
$border-radius-btn-lg: 6px;

//Animation variables
$ani-time-link: 0.2s;

$z-index-top: 100;


//Borders
$thin-accent-border: solid $size-underline-link $col-accent-primary;