// Colors
$col-main-tint-3: #d8e3d3;
$col-main-tint-2: #a4b79d;
$col-main-tint-1: #41764d;
$col-main-primary: #204d2e;

$col-accent-tint-2: #decca1;
$col-accent-tint-1: #dac596;
$col-accent-primary: #d6bf8a;
$col-accent-shade-1: #c1ac7c;

$col-gray-tint-3: #e29c80;
$col-gray-tint-2: #c0695d;
$col-gray-tint-1: #8d2517;
$col-gray-primary: #632c38;
$col-gray-shade-1: #483341;

$col-white-primary: #ece8e1;
$col-white-shade-1: #f2d4ba;
$col-black-primary: #212529;

$col-error: #e91607;

// Letter Spacing
$letter-spacing-default: 0rem;
$letter-spacing-xs: 0.05rem;
$letter-spacing-s: 0.1rem;

//Font Sizes
$font-size-header-lg: 4.8rem;
$font-size-header-md: 3.4rem;
$font-size-header-sm: 2.4rem;

$font-size-text-lg: 2.6rem;
$font-size-text-md: 2rem;
$font-size-text-s: 1.6rem;
$font-size-text-xs: 1rem;

//Font weights
$font-weight-lg: 700;
$font-weight-md: 600;
$font-weight-sm: 500;
$font-weight-xs: 400;

//Line Height
$font-line-height-lg: 1.8;
$font-line-height-md: 1.6;
$font-line-height-default: 1.4;

//Padding sizes
$padding-layout-lg: 1.2rem;
$padding-btn-lg: 0.6rem;

//Margin sizes
$margin-flex-lg: 2.4rem;

// Positions
$pos-testimonials-top-offset: 15%;
$pos-testimonials-title-add-offset: 10%;

$pos-expect-img-top-offset: 32rem;
$pos-expect-img-left-offset: -14rem;

$pos-input-label-x: 0.4rem;
$pos-input-label-y: 0.8rem;
$pos-input-label-translate-down: 3.6rem;
$pos-input-label-translate-up: -2.4rem;
$pos-textarea-label-add-translate-up: -0.6rem;

// Other sizes
$size-underline-link: 0.1rem;
$size-contact-us-input-width: 100%;
$border-radius-btn-lg: 6px;
$size-icon-square-lg: 6rem;
$size-icon-square-md: 4rem;
$size-icon-square-sm: 3rem;
$size-icon-square-xs: 2rem;

//Animation variables
$ani-time-link: 0.2s;
$ani-default: all $ani-time-link ease-out;

// Grid
$grid-faq-item-fr: 90fr;

// Z-index
$z-index-top: 100;
$z-index-btm: -100;
$z-index-modal: 1000;

//Borders
$border-accent-sm: solid $size-underline-link $col-accent-primary;
$border-accent-md: solid 0.2rem $col-accent-primary;
$border-accent-lg: solid 0.3rem $col-accent-primary;
$border-gray-sm: solid $size-underline-link $col-gray-primary;
$border-gray-tint-sm: solid $size-underline-link $col-gray-tint-2;
$border-gray-tint-lg: solid 0.3rem $col-gray-tint-2;