@import "../abstracts/variables";
@import "../base/animations";
@import "../base/utilities";

.nav {
  width: 100vw;
  background-color: $col-white-primary;
  position: sticky;

  &--list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.8rem 0rem 1.6rem 0;
    gap: 18rem;
    font-weight: $font-weight-xs;
    font-size: $font-size-text-md;
    color: $col-main-tint-1;

    &--sides {
      display: flex;
      justify-content: center;
      width: 25%;
      gap: $margin-flex-lg;
    }
  }

  &--link {
    display: inline-block;
    position: relative;
    transition: color $ani-time-link ease-out;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: $size-underline-link;
      bottom: 0;
      left: 0;
      background-color: $col-accent-tint-1;
      transition: $ani-default;
      cursor: pointer;
      transform-origin: bottom left;
    }

    &:hover {
      color: $col-main-primary;
      font-weight: $font-weight-sm;
      transform: scaleY(1.05);   
      
      &::after {
        transform: scaleX(1);

      }

    }

    &:active {
      transform: scaleY(1.05);
    }
  }
}
