@import "../abstracts/variables";
@import "../base/animations";
@import "../base/utilities";
@import "../abstracts/mixins";
@import "../abstracts/media";

.nav {
  background-color: $col-white-primary;
  position: sticky;
  z-index: 0;

  @include media-queries(phone) {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100vw;
    height: 100vh;
    padding-top: 6rem;
    background-color: rgba($col-white-primary, 0.6);
    z-index: $z-index-modal;
  }

  &--list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.2rem 0rem 1.6rem 0;
    gap: 15rem;
    font-weight: $font-weight-xs;
    font-size: $font-size-text-md;

    @include media-queries(phone) {
      flex-direction: column;
      gap: 5rem;

      & :nth-child(1) {
        order: 2;
      }

      & :nth-child(2) {
        order: 1;
      }

      & :nth-child(3) {
        order: 3;
      }
    }

    &--sides {
      display: flex;
      justify-content: center;
      width: 25%;
      gap: 4.8rem;

      @include media-queries(phone) {
        flex-direction: column-reverse;
        gap: 5rem;
      }

      & li {
        animation-delay: 0.1s;
        animation-fill-mode: backwards;
      }
    }
  }

  &--icon {
    height: 4.8rem;
    width: 9.6rem;
    fill: $col-main-primary;
  }

  &--link {
    @include btn--default($col-main-tint-1, $col-main-primary, 0);
    display: inline-block;
    position: relative;
    transition: color $ani-time-link ease-out;
    padding-bottom: 0.2rem;
    animation: moveInTop 0.8s ease-in;

    &--active {
      border-bottom: $border-accent-sm;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: $size-underline-link;
      bottom: 0;
      left: 0;
      background-color: $col-accent-tint-1;
      transition: $ani-default;
      cursor: pointer;
      transform-origin: bottom left;
    }

    &:hover {
      background-color: transparent;
      font-weight: $font-weight-sm;
      transform: scaleY(1.05);

      &::after {
        transform: scaleX(1);
      }
    }

    &:active {
      transform: scaleY(1.05);
    }
  }
}
