@import "../abstracts/variables";
@import "../base/animations";
@import "../base/utilities";

.nav {
  width: 100vw;
  background-color: transparent;
  padding-top: $margin-flex-lg;

  &--list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $padding-layout-lg 0rem;
    gap: 32rem;

    &--sides {
      display: flex;
      justify-content: center;
      width: 25%;
      gap: $margin-flex-lg;
    }
  }

  &--link {
    display: inline-block;
    position: relative;
    font-weight: $font-weight-sm;
    color: $col-main-shade-1;
    transition: color $ani-time-link ease-out;
    font-size: $font-size-header-sm;

    &::after {
      @include ani-link-after;
    }

    &:hover::after {
      @include ani-link-hover-after;
    }

    &:hover {
      color: $col-main-shade-2;
      font-weight: $font-weight-lg;
      transform-origin: bottom left;
    }

    &:active {
      transform: scaleY(1.02);
    }
  }
}
