@import "../abstracts/variables";

// for underlining link when hovered

@mixin ani-link-after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: $size-underline-link;
  bottom: 0;
  left: 0;
  background-color: $col-accent-primary;
  transition: $ani-default;
  cursor: pointer;
}

@mixin ani-link-hover-after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

