@import "../abstracts/variables";
@import "../abstracts/media";

// SETTING FONT SIZE AS 10px
html {
  font-size: 62.5%;

  @include media-queries(lg-screen) {
    font-size: 60%;
  }

  @include media-queries(laptop-lg) {
    font-size: 50%;
  }
  
  @include media-queries(laptop) {
    font-size: 43%;
  }

  @include media-queries(laptop-sm) {
    font-size: 38%;
  }

  @include media-queries(tab-lg-pot) {
    font-size: 35%;
  }

  @include media-queries(phone-xl) {
    font-size: 32%;
  }
}

// CSS RESET
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  font: inherit;
}

body {
  box-sizing: border-box;
  background-color: $col-white-primary;
}

main {
  position: relative;
  overflow-x: hidden;
}

button,
a:link,
a:visited {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  background-color: transparent;
  border: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

fieldset {
  border: none;
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
