@import "../abstracts/variables";

body {
  font-family: $font-family-text;
  line-height: $font-line-height-default;
  font-weight: $font-weight-md;
  font-size: $font-size-text-lg;
  color: $col-gray-tint-1;
}
