@import "../abstracts/variables";
@import "../abstracts/mixins";

@mixin section--title($text-color, $letter-spacing) {
  display: inline-block;
  font-size: $font-size-text-lg;
  color: $text-color;
  text-transform: uppercase;
  font-weight: $font-weight-xs;
  letter-spacing: $letter-spacing;
}

@mixin img-composition(
  $img-1-top,
  $img-1-left,
  $img-2-top,
  $img-2-left,
  $img-3-top,
  $img-3-left,
  $top-offset,
  $left-offset
) {
  &:hover &--img {
    transition: $ani-default !important;
  }
  &--img {
    box-shadow: 0 1.5rem 4rem rgba($col-black-primary, 0.3);
    position: absolute;
    width: 45%;
    height: auto;
    outline-offset: 0.3rem;

    &--1 {
      top: $img-1-top + $top-offset;
      left: $img-1-left + $left-offset;
      transition-delay: 0.2s;
    }

    &--2 {
      top: $img-2-top + $top-offset;
      left: $img-2-left + $left-offset;
      transition-delay: 0.4s;
    }
    outline-offset: 0.3rem;
    &--3 {
      top: $img-3-top + $top-offset;
      left: $img-3-left + $left-offset;
      transition-delay: 0.6s;
    }

    &:hover {
      z-index: $z-index-top + 100;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba($col-black-primary, 0.5);
      outline: 0.5rem solid $col-accent-tint-2;
    }
  }

  &:hover &-img:not(:hover) {
    transform: scale(0.9);
  }
}

@mixin feature-box($margin-item-gap, $border-color) {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(50rem, min-content));
  justify-content: center;
  column-gap: $margin-item-gap;
  justify-items: center;

  &--item {
    padding: $margin-item-gap 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--outer {
      padding-left: $margin-item-gap;

      &:nth-child(1) {
        transition-delay: 0.2s;
      }

      &:nth-child(2) {
        transition-delay: 0.4s;
      }

      &:nth-child(3) {
        transition-delay: 0.6s;
      }
    }

    &--outer + &--outer {
      border-left: solid $size-underline-link $border-color;
    }

    &--title {
      display: inline-block;
      font-weight: $font-weight-sm;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      font-size: inherit;
      margin: 2.4rem 0rem 0.8rem 0rem;
    }

    &--desc {
      padding: 0rem 1.8rem;
      hyphens: auto;
      text-align: left;
      font-size: inherit;
    }
  }
}

@mixin footer($bg-color, $position) {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  font-size: $font-size-text-s;
  color: $col-main-tint-1;
  width: 100%;
  padding-bottom: 1.2rem;
  padding-top: 4rem;
  background-color: $bg-color;
  position: $position;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 100%;
    top: 0rem;
    background-color: rgba($col-accent-tint-2, 0.5);
  }

  &--icon {
    @include icon-square($size-icon-square-lg, $col-main-primary);
  }
}

@mixin carousel--btn($btn-color, $btn-color-hover) {
  position: absolute;
  @include btn--circle;
  @include btn--default($btn-color, $btn-color-hover, 0.6);
  border: none;
  top: 55%;
  transform: translateY(-50%);

  & + svg {
    pointer-events: none;
  }
}

@mixin carousel(
  $box-padding,
  $box-color,
  $btn-color,
  $btn-color-hover,
  $dot-color,
  $dot-color-hover,
  $dot-color-active
) {
  width: 100%;
  height: 100%;
  padding: $box-padding;

  &--list {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: left;
    background-color: $box-color;
  }

  &--item {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--active {
      z-index: $z-index-top;
      & * {
        @include make-visible;
        transform: translateY(0) !important;
      }
    }
  }

  &--btn {
    &--right {
      @include carousel--btn($btn-color, $btn-color-hover);
      padding: 0.5rem;
      right: 6rem;
    }

    &--left {
      @include carousel--btn($btn-color, $btn-color-hover);
      padding: 0.5rem;
      left: 6rem;
      transform: translateY(-50%);
    }
  }

  &--nav {
    display: flex;
    position: absolute;
    bottom: 16%;
    left: 50%;
    justify-content: center;
    gap: 1.2rem;
    transform: translateX(-50%);

    &--dot {
      @include btn--circle;
      @include btn--default($dot-color, $dot-color-hover, 0.6);
      border: solid $size-underline-link $dot-color-hover;
      position: relative;
      height: 1.2rem;
      width: 1.2rem;

      &--active {
        background-color: $dot-color-active;

        //disabled effect of hovering
        &:hover {
          background-color: $dot-color-active;
        }
      }
    }
  }
}

@mixin z-layout($grid-size-two-col-left, $imgIsRight: false) {
  background-color: $col-white-primary;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: $grid-size-two-col-left 100-$grid-size-two-col-left;
  grid-template-rows: 1fr;

  &--img {
    background-size: cover;
    grid-column: 1;

    @if $imgIsRight {
      grid-column: 2;
    }
  }
}

@mixin z-layout-article($imgIsRight: false) {
  &--article {
    position: relative;
    @if $imgIsRight {
      grid-column: 1;
    }

    &--box {
      width: 50rem;
      position: absolute;
      bottom: 10rem;
      transition-delay: 0.2s;

      @if $imgIsRight {
        right: 10rem;
      } @else {
        left: 14rem;
      }
    }

    &--title {
      @include section--title($col-main-primary, $letter-spacing-xs);
      font-size: $font-size-text-md;
      margin-bottom: $margin-flex-lg * 1.5;
    }

    &--caption {
      display: block;
      color: $col-gray-tint-1;
      font-size: $font-size-text-s;
      margin-bottom: $margin-flex-lg * 2.5;
      font-size: $font-size-header-md;
    }

    &--desc {
      display: block;
      margin-bottom: $margin-flex-lg * 1.5;
      color: $col-gray-primary;
      font-size: $font-size-text-md;
      line-height: $font-line-height-md;
    }

    &--btn {
      font-size: $font-size-text-md;
      @include btn--link($col-gray-tint-1, $col-main-tint-1, 0.2);
    }
  }
}

@mixin input--group(
  $width,
  $text-color,
  $pos-input-x,
  $pos-input-y,
  $pos-translate-y,
  $inputType: text
) {
  position: relative;
  width: $width;

  &--input {
    display: block;
    padding: $pos-input-y $pos-input-x;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: $text-color;
    border-bottom: solid $size-underline-link $text-color;
    width: 100%;
    max-width: 100%;
    resize: none;
  }

  & textarea {
    border: solid $size-underline-link $text-color;
  }

  &--input::placeholder {
    color: rgba($text-color, 0.8);
  }

  &--label ~ span {
    font-size: $font-size-text-s;
    color: $col-error;
    display: inline-block;
    position: absolute;
  }

  @if $inputType == "select" {
    &--label {
      display: inline-block;
      position: absolute;
      bottom: $pos-input-y;
      left: $pos-input-x;
      color: $text-color;
      transform: translateY($pos-translate-y);
      font-size: $font-size-text-s;
    }
  } @else {
    &--label {
      display: inline-block;
      position: absolute;
      bottom: $pos-input-y;
      left: $pos-input-x;
      transition: $ani-default;
      color: $text-color;
      @include make-invisible;
    }
  }

  @if $inputType == "textarea" {
    & :not(textarea:placeholder-shown) + label {
      transform: translate(
        -0.4rem,
        $pos-translate-y + $pos-textarea-label-add-translate-up
      );
      font-size: $font-size-text-s;
      color: $text-color;
      @include make-visible;
    }
  }

  @if $inputType == "text" {
    & :not(input:placeholder-shown) + label {
      transform: translateY($pos-translate-y);
      font-size: $font-size-text-s;
      color: $text-color;
      @include make-visible;
    }
  }
}

@mixin accordion() {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  & *:nth-child(2) {
    transition-delay: 0.05s;
  }

  & *:nth-child(3) {
    transition-delay: 0.1s;
  }

  & *:nth-child(4) {
    transition-delay: 0.15s;
  }

  & *:nth-child(5) {
    transition-delay: 0.2s;
  }

  & *:nth-child(6) {
    transition-delay: 0.25s;
  }

  & *:nth-child(7) {
    transition-delay: 0.3s;
  }

  & *:nth-child(8) {
    transition-delay: 0.35s;
  }

  & *:nth-child(9) {
    transition-delay: 0.4s;
  }
}

@mixin retreat-details() {
  &--icon {
    @include icon-square($size-icon-square-xs, $col-gray-primary);
    margin-right: 1.2rem;

    &--outer {
      display: flex;
      align-items: center;
      font-size: $font-size-text-md;
      margin-left: 1.2rem;
    }
  }

  &--promo {
    margin-top: 1.4rem;
    color: $col-gray-tint-1;
  }

  &--btn {
    @include btn--link($col-gray-tint-1, $col-main-primary, 0.6, true);
    align-self: start;
  }
}

@mixin banner($img, $background-pos, $isRetreat: false) {
  background-image: $img;
  background-size: cover;
  background-position: $background-pos;
  animation: fadeIn 0.8s ease-in;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;

  &--box {
    background-color: rgba($col-accent-primary, 0.85);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: $font-size-text-md;
    color: $col-gray-primary;
    padding: 3.6rem 14rem 3.6rem 3.6rem;
    grid-row: 2;
    z-index: $z-index-top;
  }

  &--title {
    @include section--title($col-main-primary, $letter-spacing-xs);
  }

  &--caption {
    font-size: $font-size-header-md;
    color: $col-gray-tint-1;
  }

  @if $isRetreat {
    @include retreat-details();
  }
}

@mixin description--section() {
  position: relative;
  z-index: $z-index-btm;

  &--img {
    box-shadow: 2px 0px 15px 0px rgba($col-black-primary, 0.8);
    z-index: $z-index-top;
    background-size: cover;
  }

  &--aside {
    display: flex;
    align-items: center;
    hyphens: auto;
    z-index: $z-index-top - 1;

    &--title {
      display: block;
    }

    &--box {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      width: 100%;
    }
  }
}

@mixin schedule($num-rows) {
  &--layout {
    display: grid;
    grid-template-columns: [time-start full-start] 1fr [time-end logo-start] 5vw [logo-end activity-start] 1fr [activity-end full-end];
    grid-template-rows: repeat($num-rows, minmax(min-content, 10rem));
    justify-items: center;
    align-items: start;
    justify-content: center;
    align-content: center;
  }

  &--title {
    grid-column: time-start / activity-end;
    grid-row: 1;
  }

  &--time {
    grid-column: time-start / time-end;
    justify-self: end;
    margin-right: 4rem;
  }

  &--icon {
    @include icon-square($size-icon-square-lg, $col-main-primary);

    &--outer {
      grid-column: logo-start / logo-end;
      display: flex;
      flex-direction: column;
    }
  }

  &--activity {
    grid-column: activity-start / activity-end;
    justify-self: start;
    margin-left: 4rem;
  }
}

@mixin modal() {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 100vh;
  background-color: rgba($col-black-primary, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  @include make-invisible;
  transition: all 0.3s ease-in;

  &--active {
    @include make-visible;
    z-index: $z-index-modal;

    & div {
      transform: scale(1);
    }
  }

  &--box {
    background-color: $col-white-primary;
    display: grid;
    width: 80%;
    height: 90%;
    grid-template-columns: 50fr 50fr;
    transform: scale(0.5);
    transition: transform 0.4s 0.2s;
    position: relative;
  }

  &--close {
    top: 2rem;
    right: 2rem;
    position: absolute;
    display: block;

    &--icon {
      height: 2.5rem;
      width: 2.5rem;
      fill: rgba($col-gray-primary, 0.6);
    }
  }
}

@mixin gallery($numCols, $numRows) {
  display: grid;
  grid-template-columns: repeat($numCols, 1fr);
  grid-template-rows: repeat($numRows, 5vw);
  padding-left: 8rem;
  padding-right: 8rem;
  grid-gap: 1.2rem;

  & * {
    outline-offset: 0.3rem;
    transition: $ani-default;

    &:hover {
      z-index: $z-index-top + 100;
      transform: scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba($col-black-primary, 0.5);
      outline: 0.5rem solid $col-accent-primary;
    }
  }

  &--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@mixin custom--radio($btn-color) {
  &--group {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-items: start;

    & input {
      grid-column: 1;
      grid-row: 1;
      opacity: 0;
      visibility: 0;
      z-index: $z-index-modal + $z-index-modal;
      cursor: pointer;

      &:checked + span::after {
        opacity: 1;
      }
    }
  }

  &--label {
    grid-column: 2;
    grid-row: 1;
    margin-left: 1.2rem;
    cursor: pointer;
  }

  &--btn {
    grid-column: 1;
    grid-row: 1;
    height: 2rem;
    width: 2rem;
    border: 2px solid $btn-color;
    border-radius: 50%;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      background-color: $btn-color;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
}

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(-5rem);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0);
}

@mixin notification($text-color) {
  display: block;
  position: fixed;
  top: 10%;
  left: 14%;
  width: 35%;
  z-index: $z-index-modal + $z-index-modal;
  font-size: $font-size-text-s;
  padding: 1.5rem 3rem;
  border-radius: 2px;
  color: $text-color;
  cursor: pointer;
  box-shadow: 0 2.5rem 4rem rgba($col-black-primary, 0.1);

  & svg {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    fill: rgba($text-color, 0.6);
    top: 1rem;
    right: 1rem;
  }

  & h2 {
    @include section--title($text-color, $letter-spacing-default);
    font-size: $font-size-text-s;
    margin-bottom: 1rem;
  }

  & p {
    line-height: 1.5;
    padding-right: 2.4rem;
  }
}

.notification {
  &--success {
    @include notification($col-main-primary);
    background-color: rgba($col-main-tint-2, 0.8);
  }

  &--error {
    @include notification($col-gray-primary);
    background-color: rgba($col-gray-tint-3, 0.8);
  }
}
