// FLEXBOX DEFAULTS

// flexbox container
.flexcontainer {
    display: flex;
    flex-direction: row;
    align-items: stretch; // cross axis (default y axis)
    justify-content: flex-start; //main axis (default x axis)
  }
  
  //flexbox items
  .flexitems {
    flex: 0 1 auto; // flex-grow: integer proportion flex-shrink: integer proportion flex-basis: width or auto
    align-self: auto;
  }