@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/utilities";
@import "../abstracts/media";

.discover {
  &--footer {
    @include footer(transparent, relative);
    margin-top: 2rem;

    @include media-queries(tab-land) {
      &::before {
        content: "";
        height: 0rem;
      }
    }
  }
}

.principle {
  @include banner(
    (
      linear-gradient(
        rgba($col-white-primary, 0.2),
        rgba($col-white-primary, 0.6)
      ),
      url("../../public/img/meditation-1-lg.jpg")
    ),
    (bottom 80% right 54%)
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &--box {
    background-color: transparent;
    font-size: $font-size-text-lg;
    transition-delay: 0.6s;
    margin-left: 20rem;

    @include media-queries(xl-screen) {
      margin-left: 24rem;
      margin-bottom: 30rem;
    }

    @include media-queries(laptop) {
      margin-bottom: 48rem;
    }
  }

  &--title {
    @include section--title($col-main-primary, $letter-spacing-xs);
    margin-bottom: 1rem;
  }

  &--desc {
    color: $col-gray-tint-1;
    line-height: $font-line-height-md;
    margin-left: 4rem;
  }

  &--em {
    color: $col-main-primary;
    font-style: italic;
  }
}

.lotus {
  @include description--section(35vw);
  position: relative;

  @include media-queries(laptop-sm) {
    @include description--section(35vw);
  }

  @include media-queries(tab-land) {
    display: flex;
    flex-direction: column;
    @include description--section(90vw);
    height: auto;
  }

  @include media-queries(tab-xl-pot) {
    height: 68vh;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 97%;
    bottom: -8rem;
    left: 1.5%;
    background-color: rgba($col-accent-tint-2, 0.5);
    z-index: $z-index-top + $z-index-top;
  }

  &--img {
    background-image: url("../../public/img/lotus-1-lg.jpg");
    background-position: bottom;
    margin: 8rem -1rem 8rem 10rem;

    @include media-queries(xl-screen) {
      margin: 4rem -1rem 4rem 10rem;
    }

    @include media-queries(laptop-lg) {
      margin: 10rem -1rem 10rem 7rem;
    }

    @include media-queries(laptop) {
      margin: 14rem -1rem 14rem 7rem;
    }

    @include media-queries(laptop-sm) {
      margin: 22rem -8rem 22rem 4rem;
    }

    @include media-queries(tab-xl-land) {
      margin: 20rem -10rem 20rem 4rem;
    }

    @include media-queries(tab-xl-pot) {
      margin: 16rem -10rem 16rem 4rem;
    }

    @include media-queries(tab-land) {
      margin: 0rem;
      background-position: bottom 20% left 0%;
      order: 2;
      margin-bottom: 6rem;
    }
  }

  &--aside {
    font-size: $font-size-text-md;
    line-height: $font-line-height-lg;

    &--box {
      background-color: $col-main-primary;
      padding: 10rem 13rem 10rem 5rem;

      @include media-queries(xl-screen) {
        padding: 5rem 13rem 5rem 5rem;
      }

      @include media-queries(laptop-lg) {
        padding: 8rem 12rem 8rem 8rem;
      }

      @include media-queries(laptop-sm) {
        padding: 10rem 7rem 10rem 12rem;
      }

      @include media-queries(tab-xl-land) {
        padding: 10rem 5rem 10rem 14rem;
      }

      @include media-queries(tab-xl-pot) {
        padding: 5rem 5rem 5rem 14rem;
      }

      @include media-queries(tab-land) {
        padding: 10rem 14rem;
        align-self: stretch;
      }

      @include media-queries(phone-lg) {
        padding: 10rem 7rem;
      }

      @include media-queries(phone) {
        padding: 10rem 5rem;
      }

      @include media-queries(phone-sm) {
        padding: 8rem 4rem;
      }
    }

    &--title {
      @include section--title($col-accent-primary, $letter-spacing-xs);
      border-bottom: $border-accent-sm;
      margin-bottom: 2.4rem;
    }

    &--content {
      display: flex;
      flex-direction: column;
      gap: 3.8rem;
      margin-left: 2.4rem;
      padding-right: 2.4rem;
      color: $col-gray-tint-3;
    }
  }
}

.approach {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $col-white-primary;
  position: relative;
  margin-top: 16rem;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 97%;
    bottom: -8rem;
    background-color: rgba($col-accent-tint-2, 0.5);

    @include media-queries(tab-lg-land) {
      bottom: 0rem;
    }
  }

  &--icon {
    @include icon-square($size-icon-square-lg, $col-main-primary);
    margin-top: 4rem;
  }
  &--title {
    @include section--title($col-main-primary, $letter-spacing-xs);
    margin: 2.4rem 0rem 3.6rem 0rem;
  }

  &--feature-box {
    @include feature-box(2.4rem, darken(rgba($col-gray-tint-1, 0.7), 10%));
    margin-bottom: 4.8rem;
    margin-right: 2rem;

    @include media-queries(tab-land) {
      flex-direction: column;
      padding: 0rem;
      margin: 0rem;
    }

    &--item {
      font-size: $font-size-text-md;
      @include media-queries(tab-land) {
        flex-direction: column;
        padding: 0rem;
        margin: 0rem;
        gap: 4rem;
        margin-bottom: 8rem;
      }

      &--title {
        color: $col-main-primary;
      }

      &--desc {
        color: $col-gray-tint-1;
        line-height: $font-line-height-md;

        @include media-queries(tab-land) {
          padding: 0rem 24rem;
        }

        @include media-queries(phone-lg) {
          padding: 0rem 18rem;
        }

        @include media-queries(phone) {
          padding: 0rem 14rem;
        }
      }

      &--imgbox {
        @include media-queries(tab-land) {
          width: 100vw;
          height: 60vw;
        }
      }
    }
  }

  &--cta {
    width: 100%;
    height: 15vh;
    position: relative;

    @include media-queries(tab-land) {
      margin-top: 2rem;
      height: 10vh;
    }

    &--box {
      display: flex;
      position: absolute;
      font-size: $font-size-text-md;
      top: 0rem;
      left: 50%;
      transform: translateX(-50%);
    }

    &--outer {
      padding: 1.2rem;
    }

    &--outer + &--outer {
      border-left: solid $size-underline-link $col-gray-tint-1;
      padding-left: 0rem;
    }

    &--btn {
      display: inline-block;
      @include btn--link($col-gray-tint-1, $col-main-tint-1, 0.2);
      width: 25rem;
    }
  }
}

.founder {
  @include description--section(35vw);
  margin-top: 16rem;
  margin-bottom: 10rem;

  @include media-queries(laptop-lg) {
    margin-top: 8rem;
    margin-bottom: 4rem;
  }

  @include media-queries(laptop) {
    margin-top: 4rem;
    margin-bottom: 0rem;
  }

  @include media-queries(laptop-sm) {
    margin-top: 0rem;
    margin-bottom: -16rem;
  }

  @include media-queries(tab-lg-land) {
    margin-top: -12rem;
    margin-bottom: -20rem;
  }

  @include media-queries(tab-land) {
    flex-direction: column;
    margin-top: 0rem;
    margin-bottom: 0rem;
    height: 95vh;
  }

  @include media-queries(phone) {
    height: 100vh;
  }

  &--aside {
    background-color: $col-main-primary;
    order: 1;
    margin: 14rem 0rem;

    @include media-queries(lg-screen) {
      margin: 10rem 0rem;
    }

    @include media-queries(laptop-lg) {
      margin: 22rem 0rem;
    }

    @include media-queries(laptop) {
      margin: 26rem 0rem;
    }

    @include media-queries(laptop-sm) {
      margin: 34rem 0rem;
    }

    // @include media-queries(tab-lg-land) {
    //   margin: 34rem 0rem;
    // }

    @include media-queries(tab-land) {
      margin: 0rem;
      order: 2;
      flex: 10 1 100vh;
    }

    &--box {
      padding: 0rem 14rem 0rem 4rem;

      @include media-queries(tab-land) {
        padding: 0rem 8rem;
      }

      @include media-queries(tab-lg-land) {
        padding: 0rem 10rem 0rem 4rem;
      }
    }

    &--title {
      @include section--title($col-accent-primary, $letter-spacing-xs);
      border-bottom: $border-accent-sm;
      margin-bottom: 2.4rem;
    }

    &--content {
      display: flex;
      flex-direction: column;
      color: $col-gray-tint-3;
      font-size: $font-size-text-md;
      line-height: $font-line-height-lg;
      gap: $margin-flex-lg;
      hyphens: auto;
      padding-left: 2.4rem;
      padding-right: 4rem;
    }
  }

  &--img {
    order: 2;
    z-index: $z-index-top + 10;
    box-shadow: none;
    display: flex;
    align-items: center;

    &--composition {
      @include img-composition(
        15vw,
        -4rem,
        58rem,
        4rem,
        -16rem,
        20rem,
        -42rem,
        -6rem,
        0rem
      );

      @include media-queries(xl-screen) {
        @include img-composition(
          16vw,
          -4rem,
          56rem,
          4rem,
          -16rem,
          18rem,
          -38rem,
          -6rem,
          0rem
        );
      }

      @include media-queries(lg-screen) {
        @include img-composition(
          17vw,
          -4rem,
          56rem,
          4rem,
          -16rem,
          18rem,
          -38rem,
          -6rem,
          0rem
        );
      }

      @include media-queries(laptop-lg) {
        @include img-composition(
          18vw,
          -4rem,
          64rem,
          4rem,
          -16rem,
          20rem,
          -40rem,
          -6rem,
          -2rem
        );
      }

      @include media-queries(laptop) {
        @include img-composition(
          19vw,
          -4rem,
          64rem,
          4rem,
          -16rem,
          20rem,
          -44rem,
          -6rem,
          -2rem
        );
      }

      @include media-queries(tab-lg-land) {
        @include img-composition(
          21vw,
          -4rem,
          61rem,
          4rem,
          -15rem,
          20rem,
          -43rem,
          -6rem,
          -2rem
        );
      }

      @include media-queries(tab-land) {
        @include img-composition(
          34vw,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem
        );
        flex-direction: row;
      }

      @include media-queries(tab-sm-land) {
        @include img-composition(
          36vw,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem
        );
        flex-direction: row;
        transform: translateX(-1vw);
      }

      @include media-queries(phone-xl) {
        @include img-composition(
          48vw,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem
        );
        flex-direction: row;
        transform: translateX(-22vw);
      }

      @include media-queries(phone-lg) {
        @include img-composition(
          50vw,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem
        );
        flex-direction: row;
        transform: translateX(-26vw);
      }

      @include media-queries(phone) {
        @include img-composition(
          60vw,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem
        );
        flex-direction: row;
        transform: translateX(-40vw);
      }

      &--imgbox {
        &--0 {
          z-index: $z-index-top;
        }

        &--1 {
          z-index: $z-index-top - 2;
          @include media-queries(phone) {
            box-shadow: 0px 0px 20px 3px rgba($col-black-primary, 0.2);
          }
        }

        &--2 {
          z-index: $z-index-top - 1;
        }
      }
    }
  }
}
