@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/utilities";
@import "../abstracts/media";

.discover {
  &--footer {
    @include footer(transparent, relative);
    margin-top: 2rem;

    @include media-queries(tab-land) {
      &::before {
        content: "";
        height: 0rem;
      }
    }
  }
}

.principle {
  @include banner(
    (
      linear-gradient(
        rgba($col-white-primary, 0.2),
        rgba($col-white-primary, 0.6)
      ),
      url("../../public/img/discover-pg/meditation-1-lg.jpg")
    ),
    (bottom 80% right 54%)
  );

  @include media-queries(tab-land) {
    height: 75vh;
  }

  @include media-queries(phone-xl) {
    height: 65vh;
  }

  @include media-queries(phone) {
    height: 60vh;
  }

  &--box {
    transition-delay: 0.6s;
    width: 50%;
    padding: 6rem 4rem;

    @include media-queries(laptop-sm) {
      font-size: $font-size-header-md;
      width: 55%;
      padding: 10rem 15rem 10rem 6rem;
    }

    @include media-queries(tab-lg-land) {
      font-size: $font-size-text-lg;
      width: 57%;
      padding: 8rem 9rem 8rem 6rem;
    }

    @include media-queries(tab-land) {
      font-size: $font-size-text-lg;
      padding: 8rem 5rem 8rem 4rem;
    }

    @include media-queries(tab-sm-land) {
      font-size: $font-size-text-lg;
      width: 60%;
      padding: 8rem 5rem 8rem 4rem;
    }

    @include media-queries(phone-xl) {
      font-size: $font-size-text-lg;
      width: 68%;
      padding: 8rem 4rem 8rem 4rem;
    }

    @include media-queries(phone-lg) {
      width: 100%;
      padding: 6rem;
    }
  }

  &--caption {
    line-height: $font-line-height-md;
  }

  &--em {
    color: $col-main-primary;
    font-style: italic;
  }
}

.lotus {
  @include description--section(35vw);
  position: relative;

  @include media-queries(laptop-sm) {
    @include description--section(35vw);
  }

  @include media-queries(tab-land) {
    display: flex;
    flex-direction: column;
    @include description--section(90vw);
    height: auto;
  }

  @include media-queries(device-sm-short) {
    display: flex;
    flex-direction: column;
    @include description--section(80vw);
    height: auto;
  }

  @include media-queries(tab-xl-pot) {
    height: 68vh;
  }

  @include media-queries(device-tall) {
    height: 55vh;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 97%;
    bottom: -8rem;
    left: 1.5%;
    background-color: rgba($col-accent-tint-2, 0.5);
    z-index: $z-index-top + $z-index-top;
  }

  &--img {
    background-image: url("../../public/img/discover-pg/lotus-1-lg.jpg");
    background-position: bottom;
    margin: 4rem -1rem 4rem 8rem;

    @include media-queries(laptop-lg) {
      margin: 14rem -1rem 14rem 7rem;
    }

    @include media-queries(laptop) {
      margin: 22rem -1rem 22rem 5rem;
    }

    @include media-queries(laptop-sm) {
      margin: 34rem -1rem 34rem 4rem;
    }

    @include media-queries(tab-lg-land) {
      margin: 28rem -1rem 28rem 1rem;
    }

    @include media-queries(tab-land) {
      margin: 0rem;
      background-position: bottom 20% left 0%;
      order: 2;
      margin-bottom: 6rem;
    }
  }

  &--aside {
    line-height: $font-line-height-lg;

    &--box {
      padding: 4rem 5rem 4rem 5rem;

      @include media-queries(tab-land) {
        padding: 10rem 10rem;
        align-self: stretch;
      }
    }

    &--title {
      border-bottom: $border-accent-sm;
      margin-bottom: 2.4rem;
    }

    &--content {
      display: flex;
      flex-direction: column;
      gap: 3.8rem;
      margin-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }
}

.approach {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $col-white-primary;
  position: relative;
  margin-top: 16rem;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 97%;
    bottom: -8rem;
    background-color: rgba($col-accent-tint-2, 0.5);

    @include media-queries(tab-lg-land) {
      bottom: 0rem;
    }
  }

  &--icon {
    @include icon-square($size-icon-square-lg, $col-main-primary);
    margin-top: 4rem;
  }
  &--title {
    @include section--title($col-main-primary, $letter-spacing-xs);
    margin: 2.4rem 0rem 3.6rem 0rem;
  }

  &--feature-box {
    @include feature-box(2.4rem, darken(rgba($col-gray-tint-1, 0.7), 10%));
    margin-bottom: 4.8rem;
    margin-right: 2rem;

    @include media-queries(tab-land) {
      flex-direction: column;
      padding: 0rem;
      margin: 0rem;
    }

    &--item {
      @include media-queries(tab-land) {
        flex-direction: column;
        padding: 0rem;
        margin: 0rem;
        gap: 4rem;
        margin-bottom: 8rem;
      }

      &--title {
        color: $col-main-primary;
      }

      &--desc {
        line-height: $font-line-height-md;

        @include media-queries(tab-land) {
          padding: 0rem 24rem;
        }

        @include media-queries(phone-lg) {
          padding: 0rem 18rem;
        }

        @include media-queries(phone) {
          padding: 0rem 14rem;
        }
      }

      &--imgbox {
        @include media-queries(tab-land) {
          width: 100vw;
          height: 60vw;
        }
      }
    }
  }

  &--cta {
    width: 100%;
    height: 15vh;
    position: relative;

    @include media-queries(tab-land) {
      margin-top: 2rem;
      height: 10vh;
    }

    &--box {
      display: flex;
      position: absolute;
      top: 0rem;
      left: 50%;
      transform: translateX(-50%);
    }

    &--outer {
      padding: 3.6rem;

      @include media-queries(phone-sm) {
        padding: 3.6rem 2.4rem;
      }
    }

    &--outer + &--outer {
      border-left: solid $size-underline-link $col-gray-tint-1;
      padding-left: 0rem;
    }

    &--btn {
      display: inline-block;
      @include btn--link($col-gray-tint-1, $col-main-tint-1, 0.2);
      width: 38rem;

      @include media-queries(phone-lg) {
        width: 32rem;

        a {
          font-size: $font-size-text-md;
        }
      }

      @include media-queries(phone-sm) {
        width: 32rem;
      }
    }
  }
}

.founder {
  @include description--section(30vw);
  margin-top: 12rem;
  margin-bottom: 8rem;

  @include media-queries(lg-screen) {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  @include media-queries(laptop-lg) {
    margin-top: 8rem;
    margin-bottom: 0rem;
    height: 70vh;
  }

  @include media-queries(tab-xl-land) {
    margin-top: 8rem;
    margin-bottom: 0rem;
    height: 65vh;
  }

  @include media-queries(laptop-sm) {
    flex-direction: column;
    margin-top: 0rem;
    margin-bottom: 0rem;
    height: 100vh;
  }

  @include media-queries(tab-lg-land) {
    height: 90vh;
  }

  @include media-queries(phone-xl) {
    height: 85vh;
  }

  @include media-queries(tab-land) {
    height: 85vh;
  }

  @include media-queries(tab-sm-land) {
    height: 80vh;
  }

  @include media-queries(phone-xl) {
    height: 70vh;
  }

  @include media-queries(phone) {
    height: 68vh;
  }

  &--aside {
    @include media-queries(laptop-sm) {
      order: 2;
      align-items: stretch;
      flex: 2 1 100%;
    }

    &--box {
      padding: 4rem 14rem 4rem 4rem;

      @include media-queries(xl-screen) {
        padding: 4rem 9rem 4rem 4rem;
      }

      @include media-queries(laptop-sm) {
        padding: 14rem 8rem;
      }

      @include media-queries(tab-lg-land) {
        padding: 10rem 8rem;
      }
    }

    &--title {
      @include section--title(
        $col-accent-primary,
        $letter-spacing-xs,
        $font-size-header-lg
      );
      border-bottom: $border-accent-sm;
      margin-bottom: 2.4rem;
    }

    &--content {
      display: flex;
      flex-direction: column;
      line-height: $font-line-height-lg;
      gap: $margin-flex-lg;
      hyphens: auto;
      padding-left: 2.4rem;
      padding-right: 4rem;
    }
  }

  &--img {
    order: 2;
    z-index: $z-index-top + 10;
    box-shadow: none;
    display: flex;
    align-items: center;

    &--composition {
      @include img-composition(
        16vw,
        -4rem,
        74rem,
        4rem,
        -16rem,
        22rem,
        -44rem,
        -6rem,
        -6rem
      );

      @include media-queries(xl-screen) {
        @include img-composition(
          16vw,
          -4rem,
          64rem,
          4rem,
          -8rem,
          22rem,
          -36rem,
          -4rem,
          -8rem
        );
      }

      @include media-queries(lg-screen) {
        @include img-composition(
          16vw,
          -4rem,
          66rem,
          4rem,
          -8rem,
          18rem,
          -28rem,
          -4rem,
          -8rem
        );
      }

      @include media-queries(tab-xl-land) {
        @include img-composition(
          16vw,
          -4rem,
          66rem,
          4rem,
          -8rem,
          18rem,
          -24rem,
          -4rem,
          -10rem
        );
      }

      @include media-queries(laptop-sm) {
        @include img-composition(
          34vw,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem,
          0rem
        );
        flex-direction: row;
        height: 100%;
      }

      &--imgbox {
        &--0 {
          z-index: $z-index-top;
        }

        &--1 {
          z-index: $z-index-top - 2;
          @include media-queries(phone) {
            box-shadow: 0px 0px 20px 3px rgba($col-black-primary, 0.2);
          }
        }

        &--2 {
          z-index: $z-index-top - 1;
        }
      }
    }
  }
}
