@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/utilities";

.explore {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(17.5rem, min-content) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-template-rows: 8.5vh 100vh min-content min-content;

  &--nav {
    grid-column: full-start / full-end;
    grid-row: 1;
  }
}

.banner {
  @include banner(
    (
      linear-gradient(
        rgba($col-white-primary, 0.2),
        rgba($col-white-primary, 0.6)
      ),
      url("../../public/img/yoga-1-lg.jpg")
    ),
    (bottom 65% left 0%)
  );
  grid-column: full-start / full-end;
  grid-row: 2;

  &--box {
    grid-column: banner-start / col-start 6;
    grid-row: row-start 5 / span 8;
    background-color: rgba($col-accent-primary, 0.8);
    font-size: $font-size-text-lg;
    gap: 2.4rem;
    padding: 6rem 3.6rem 6rem 12.8rem;
    text-align: left;
  }

  &--title {
    @include section--title($col-main-primary, $letter-spacing-xs);
    margin-bottom: 3.6rem;
  }

  &--desc {
    color: $col-gray-tint-1;
    line-height: $font-line-height-md;
    margin-left: 2.4rem;
  }

  &--em {
    color: $col-main-tint-1;
    font-style: italic;
  }
}

.past {
  grid-column: full-start / full-end;
  grid-row: 3;
  margin-top: 10rem;
  position: relative;
  margin-bottom: 10rem;

  &--0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 0.2rem;
      width: 98%;
      top: 0rem;
      background-color: rgba($col-accent-tint-2, 0.5);
      z-index: 20000;
    }

    &--title {
      @include section--title($col-main-primary, $letter-spacing-xs);
      font-size: $font-size-header-md;
    }

    &--content {
      font-size: $font-size-text-lg;
      display: flex;
      gap: 2.4rem;
      padding: 0rem 30rem;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    &--gallery {
      @include gallery(10, 10);

      &--item {
        &--0 {
          grid-column: 2 / 3;
          grid-row: 9 / 11;
        }

        &--1 {
          grid-column: 2 / 4;
          grid-row: 4 / 5;
        }

        &--2 {
          grid-column: 9 /11;
          grid-row: 1 / 4;
        }

        &--3 {
          grid-column: 6 / 8;
          grid-row: 5 / 7;
        }

        &--4 {
          grid-column: 8 / 9;
          grid-row: 1 / 4;
        }

        &--5 {
          grid-column: 9 / 11;
          grid-row: 4 / 6;
        }

        &--6 {
          grid-column: 7 / 8;
          grid-row: 10 / 11;
        }

        &--7 {
          grid-column: 5 / 6;
          grid-row: 9 /11;
        }

        &--8 {
          grid-column: 6 / 7;
          grid-row: 10 / 11;
        }

        &--9 {
          grid-column: 4 / 5;
          grid-row: 3 / 5;
        }

        &--10 {
          grid-column: 4 /6;
          grid-row: 7 / 9;
        }

        &--11 {
          grid-column: 3 /5;
          grid-row: 9 / 11;
        }

        &--12 {
          grid-column: 1 / 3;
          grid-row: 5 / 7;
        }

        &--13 {
          grid-column: 10 /11;
          grid-row: 6 / 8;
        }

        &--14 {
          grid-column: 3 / 4;
          grid-row: 7 / 9;
        }

        &--15 {
          grid-column: 1 / 3;
          grid-row: 7 / 9;
        }

        &--16 {
          grid-column: 3 / 5;
          grid-row: 5 / 7;
        }

        &--17 {
          grid-column: 6 / 8;
          grid-row: 8 / 10;
        }

        &--18 {
          grid-column: 6 / 7;
          grid-row: 7 / 8;
        }

        &--19 {
          grid-column: 7 / 8;
          grid-row: 7 / 8;
        }

        &--20 {
          grid-column: 1 / 2;
          grid-row: 4 / 5;
        }

        &--21 {
          grid-column: 6 / 7;
          grid-row: 3 / 5;
        }

        &--22 {
          grid-column: 8 / 9;
          grid-row: 5 / 6;
        }

        &--23 {
          grid-column: 6 / 8;
          grid-row: 1 / 3;
        }

        &--24 {
          grid-column: 8 / 11;
          grid-row: 8 / 11;
        }

        &--25 {
          grid-column: 5 / 6;
          grid-row: 1 / 4;
        }

        &--26 {
          grid-column: 4 / 5;
          grid-row: 1 / 3;
        }

        &--27 {
          grid-column: 1 / 4;
          grid-row: 1 / 4;
        }

        &--28 {
          grid-column: 8 / 9;
          grid-row: 4 / 5;
        }

        &--29 {
          grid-column: 5 /6;
          grid-row: 4 / 7;
        }

        &--30 {
          grid-column: 1 / 2;
          grid-row: 9 / 11;
        }

        &--31 {
          grid-column: 8 / 10;
          grid-row: 6 / 8;
        }

        &--32 {
          grid-column: 7 / 8;
          grid-row: 3 / 5;
        }

        &--33 {
          grid-column: 4 / 5;
          grid-row: 1 / 3;
        }

        &--34 {
          grid-column: 8 / 9;
          grid-row: 4 / 6;
        }
      }
    }
  }
}

.explore--footer {
  grid-column: full-start / full-end;
  grid-row: 9;
  @include footer(transparent, relative);
}
