@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/utilities";


.explore {
  display: block;
}

.explore--footer {
  grid-column: full-start / full-end;
  grid-row: 9;
  @include footer(transparent, relative);
}
