@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/utilities";

.contact-us {
  width: 100%;
  height: 100vh;
  background-color: $col-white-primary;
  position: relative;
  display: grid;
  grid-template-columns: 35fr 65fr;
  grid-template-rows: 1;
  margin-bottom: 24rem;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 97%;
    bottom: -14rem;
    left: 1.5%;
    background-color: rgba($col-accent-tint-2, 0.5);
  }

  &--img {
    background-image: url("../../public/lotus-2-lg.jpg");
    background-position: top left 60%;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 5rem -10rem 0rem auto;
    box-shadow: 2px 0px 15px 0px rgba($col-black-primary, 0.8);
    z-index: $z-index-top;
  }

  &--form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, min-content);
    align-items: start;
    font-size: $font-size-text-s;
    justify-content: center;
    align-content: center;
    padding: 0rem 8rem 0rem 18rem;
    margin: 12rem 0rem 2rem 0rem;
    grid-gap: 2.4rem;
    background-color: $col-main-primary;

    &--title {
      @include section--title($col-accent-tint-1, $letter-spacing-xs);
      border-bottom: solid $size-underline-link $col-accent-tint-1;
      grid-column: 1 / -1;
      grid-row: 1;
      margin-left: -2.5rem;
      margin-bottom: 1rem;
    }

    &--article {
      font-size: $font-size-text-md;
      grid-column: 1 / -1;
      grid-row: 2;
      color: $col-gray-tint-2;
      line-height: $font-line-height-lg;
      margin-bottom: 0.8rem;
      hyphens: auto;
    }

    &--first-name {
      @include input--group(
        $size-contact-us-input-width,
        $col-accent-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
      grid-column: 1 / span 3;
      grid-row: 3;
    }

    &--last-name {
      @include input--group(
        $size-contact-us-input-width,
        $col-accent-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
      grid-column: 4 / span 3;
      grid-row: 3;
    }

    // &--num-retreatees {
    //   @include input--group(
    //     $size-contact-us-input-width,
    //     $col-accent-tint-1,
    //     $pos-input-label-x,
    //     $pos-input-label-y,
    //     $pos-input-label-translate-up
    //   );
    //   grid-column: 1 / span 3;
    //   grid-row: 4;
    // }

    // &--retreat-name {
    //   @include input--group(
    //     $size-contact-us-input-width,
    //     $col-accent-tint-1,
    //     $pos-input-label-x,
    //     $pos-input-label-y,
    //     $pos-input-label-translate-up,
    //     "select"
    //   );
    //   margin-top: 0.1rem;
    //   grid-column: 4 / span 3;
    //   grid-row: 4;
    // }

    &--email {
      @include input--group(
        $size-contact-us-input-width,
        $col-accent-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
      grid-column: 1 / span 6;
      grid-row: 4;
    }

    &--subject {
      @include input--group(
        $size-contact-us-input-width,
        $col-accent-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
      grid-column: 1 / span 6;
      grid-row: 5;
    }

    &--message {
      @include input--group(
        $size-contact-us-input-width,
        $col-accent-tint-1,
        0.8rem,
        0.4rem,
        $pos-input-label-translate-up,
        "textarea"
      );
      width: 95%;
      grid-column: 1 / span 6;
      grid-row: 6;
      margin: 1.8rem 0rem 0rem 0rem;

      & label {
        top: 0rem;
      }
    }

    &--btn {
      @include btn--link($col-accent-tint-1, $col-main-primary, 0.6, true);
      grid-column: 1 / -1;
      grid-row: 7;
      justify-self: start;
      margin-top: -0.6rem;
      margin-left: 0.4rem;
    }
  }
}

.faq {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $font-size-text-md;

  &--title {
    @include section--title($col-main-tint-1, $letter-spacing-xs);
    margin-bottom: 4.8rem;
  }

  &--accordion {
    @include accordion;
    padding: 0rem 50rem;
    font-weight: $font-weight-lg;
  }

  &--item {
    display: grid;
    grid-template-columns: calc((100fr - $grid-faq-item-fr) / 2) $grid-faq-item-fr calc(
        (100fr - $grid-faq-item-fr) / 2
      );
    color: $col-main-tint-1;

    &--box {
      border-bottom: solid 0.2rem $col-accent-tint-1;
      display: flex;
      grid-column: 1 / -1;
      align-items: center;
      justify-content: center;
      font-weight: $font-weight-sm;
      gap: 1rem;
      padding-bottom: -1rem;
      line-height: 1;
      cursor: pointer;

      &:hover {
        background-color: $col-accent-tint-2;
        color: $col-main-tint-1;
      }
    }

    &--number {
      font-size: $font-size-text-lg;
      margin-bottom: 0.8rem;
      margin-left: 0.4rem;
    }

    &--question {
      margin-left: 1rem;
      margin-right: auto;
    }

    &--icon {
      display: block;
      margin-right: 1rem;
      transition: all 0.4s ease-out;

      &--active {
        transform: rotate(90deg);
        margin-right: 1rem;
      }
    }

    &--answer {
      grid-column: 2;
      grid-row: 2;
      font-weight: $font-weight-md;
      color: $col-gray-tint-1;
      line-height: $font-line-height-default;
      @include make-invisible;
      height: 0rem;
      margin: 0.8rem 0rem;
      transform: translateY(-1rem);
      transition: all 0.4s ease-out;
    }

    &--active {
      margin-top: 0.8rem;
      margin-bottom: 2.4rem;
      height: auto;
      transform: translateY(0);
      @include make-visible;
    }
  }
}

.help--footer {
  @include footer(transparent, relative);
  padding-top: 5rem;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 97%;
    bottom: 0rem;
    left: 1.5%;
    background-color: rgba($col-accent-tint-2, 0.5);
  }
}
