@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/utilities";
@import "../abstracts/media";

.help {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(16rem, min-content) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-template-rows: 7.5vh 100vh repeat(2, min-content);

  @include media-queries(laptop-sm-height) {
    grid-template-rows: 9vh 100vh repeat(2, min-content);
  }

  @include media-queries(tab-sm-land) {
    grid-template-rows: 8vw 100vw repeat(2, min-content);
  }

  &--nav {
    grid-column: full-start / full-end;
    grid-row: 1;

    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 0.2rem;
      width: 100%;
      bottom: -0.5rem;
      background-color: rgba($col-accent-tint-2, 0.5);
      animation: fadeIn 1.2s ease-in;
      animation-fill-mode: backwards;
    }
  }
}

.contact-us {
  @include description--section;
  grid-column: full-start / full-end;
  grid-row: 2;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 97%;
    bottom: -20rem;
    left: 1.5%;
    background-color: rgba($col-accent-tint-2, 0.5);
  }

  &--img {
    background-image: url("../../public/img/lotus-2-lg.jpg");
    grid-column: col-start 1 / col-end 3;
    grid-row: 2;
    background-position: top left 60%;
    background-size: cover;
    width: 130%;
    height: 80%;
    margin: 16rem 0rem 0rem -5rem;
    box-shadow: 2px 0px 15px 0px rgba($col-black-primary, 0.8);

    @include media-queries(xxl-screen) {
      width: 120%;
      margin-left: -1rem;
    }

    @include media-queries(xl-screen) {
      width: 105%;
      height: 80%;
      margin: 16rem -10rem 0rem auto;
    }

    @include media-queries(laptop-sm-height) {
      height: 100%;
      margin: 6rem -10rem 0rem auto;
    }

    @include media-queries(tab-sm-land) {
      height: 85%;
      margin: 12rem -10rem 0rem auto;
    }
  }

  &--aside {
    grid-column: col-end 3 / full-end;
    grid-row: 2;

    &--box {
      background-color: $col-main-primary;
      padding: 8rem 18rem 8rem 16rem;
      margin-top: 10rem;

      @include media-queries(xl-screen) {
        padding: 5rem 18rem 5rem 16rem;
      }
    }

    &--title {
      @include section--title($col-accent-primary, $letter-spacing-xs);
      border-bottom: $border-accent-sm;
    }
  }
  &--form {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, min-content);
    align-items: start;
    font-size: $font-size-text-s;
    justify-content: center;
    align-content: center;
    grid-gap: 2.4rem;
    margin-left: 2.4rem;
    margin-top: 1.2rem;

    &--article {
      font-size: $font-size-text-md;
      grid-column: 1 / -1;
      grid-row: 1;
      color: $col-gray-tint-3;
      line-height: $font-line-height-lg;
      margin-bottom: 0.8rem;
      hyphens: auto;

      a {
        display: inline-block;
        text-decoration: underline $size-underline-link $col-gray-tint-2;
        text-underline-offset: 0.6rem;
        padding: 0rem 0.3rem;
        transition: $ani-default;

        &:hover {
          color: $col-main-primary;
          text-decoration: none;
          background-color: rgba($col-accent-tint-1, 0.6);
          border-bottom: underline $size-underline-link $col-accent-tint-1;
        }
      }
    }

    &--email {
      @include input--group(
        $size-contact-us-input-width,
        $col-accent-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
      grid-column: 1 / span 6;
      grid-row: 2;
    }

    &--first-name {
      @include input--group(
        $size-contact-us-input-width,
        $col-accent-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
      grid-column: 1 / span 3;
      grid-row: 3;
    }

    &--last-name {
      @include input--group(
        $size-contact-us-input-width,
        $col-accent-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
      grid-column: 4 / span 3;
      grid-row: 3;
    }

    &--subject {
      @include input--group(
        $size-contact-us-input-width,
        $col-accent-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
      grid-column: 1 / span 8;
      grid-row: 4;
    }

    &--message {
      @include input--group(
        $size-contact-us-input-width,
        $col-accent-tint-1,
        0.8rem,
        0.4rem,
        $pos-input-label-translate-up,
        "textarea"
      );
      width: 95%;
      grid-column: 1 / span 8;
      grid-row: 5;
      margin: 1.8rem 0rem 0rem 0rem;

      & label {
        top: 0rem;
      }
    }

    &--btn {
      @include btn--link($col-accent-tint-1, $col-main-primary, 0.6, true);
      grid-column: 1 / -1;
      grid-row: 6;
      justify-self: start;
    }
  }
}

.faq {
  grid-column: full-start / full-end;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $font-size-text-md;
  margin-top: 30rem;
  margin-bottom: 10rem;

  &--icon {
    @include icon-square($size-icon-square-lg, $col-main-primary);
    margin-bottom: 2.4rem;
  }

  &--title {
    @include section--title($col-main-primary, $letter-spacing-xs);
    margin-bottom: 4.8rem;
  }

  &--accordion {
    @include accordion;
    width: 85%;
    padding: 0rem 50rem;
    font-weight: $font-weight-lg;

    @include media-queries(xxl-screen) {
      width: 95%;
    }

    @include media-queries(xl-screen) {
      width: 105%;
    }

    @include media-queries(lg-screen) {
      width: 110%;
    }
  }

  &--item {
    display: grid;
    grid-template-columns: calc((100fr - $grid-faq-item-fr) / 2) $grid-faq-item-fr calc(
        (100fr - $grid-faq-item-fr) / 2
      );
    color: $col-main-tint-1;

    &--box {
      border-bottom: solid 0.2rem $col-accent-tint-1;
      display: flex;
      grid-column: 1 / -1;
      align-items: center;
      justify-content: center;
      font-weight: $font-weight-sm;
      gap: 1rem;
      padding-bottom: 0.2rem;
      line-height: 1;
      cursor: pointer;

      &:hover {
        background-color: $col-accent-tint-2;
        color: $col-main-tint-1;
      }
    }

    &--number {
      font-size: $font-size-text-lg;
      margin-bottom: 0.8rem;
      margin-left: 0.4rem;
    }

    &--question {
      margin-left: 1rem;
      margin-right: auto;
    }

    &--icon {
      height: $size-icon-square-xs;
      width: $size-icon-square-xs;
      margin-right: 1rem;
      fill: $col-main-primary;
      transition: all 0.4s ease-out;

      &--active {
        transform: rotate(90deg);
        margin-right: 1rem;
      }
    }

    &--answer {
      grid-column: 2;
      grid-row: 2;
      font-weight: $font-weight-md;
      color: $col-gray-primary;
      line-height: $font-line-height-default;
      @include make-invisible;
      height: 0rem;
      margin: 0.8rem 0rem;
      transform: translateY(-1rem);
      transition: all 0.4s ease-out;
    }

    &--active {
      margin-top: 0.8rem;
      margin-bottom: 2.4rem;
      height: auto;
      transform: translateY(0);
      @include make-visible;
    }
  }
}

.help--footer {
  grid-column: full-start / full-end;
  grid-row: 4;
  @include footer(transparent, relative);
  padding-top: 3rem;
}
