@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/utilities";

.home--footer {
  @include footer(transparent, relative);
  padding-top: 5rem;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 97%;
    bottom: 0rem;
    left: 1.5%;
    background-color: rgba($col-accent-tint-2, 0.5);
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: (
    linear-gradient(
      180deg,
      rgba($col-white-primary, 0),
      rgba($col-white-primary, 0.2)
    ),
    url("../../public/mountain-1-lg.jpg")
  );
  background-size: cover;
  background-position: bottom 25% left 90%;
  border-right: solid 5rem $col-white-primary;
  border-left: solid 5rem $col-white-primary;

  &--box {
    width: 50%;
    display: block;
    position: absolute;
    top: 30rem;
    left: 100rem;
    text-align: left;
    background-color: rgba($col-accent-primary, 0.75);
    padding: 3.6rem 2.4rem;
  }

  &--title {
    @include section--title($col-main-tint-1, none);
    font-size: $font-size-text-md;
    display: block;
    margin-bottom: $margin-flex-lg * 1.5;
  }

  &--article {
    display: block;
    font-size: $font-size-header-md;
    color: $col-gray-primary;
    margin-bottom: $margin-flex-lg * 2;
  }

  &--btn {
    @include btn--link($col-gray-primary, $col-main-tint-1);
    font-size: $font-size-text-md;
  }
}

.corporate {
  width: 100%;
  height: 25vh;
  position: relative;
  background-color: rgba($col-accent-primary, 0.5);
}

.immersive {
  @include z-layout(45fr);

  &--img {
    background-image: url("../../public/alone-2-lg.jpg");
  }
}

.bespoke {
  @include z-layout(45fr);

  &--img {
    background-image: url("../../public/bespoke-1-lg.jpg");
  }
}

.mindfulness {
  @include z-layout(45fr);

  &--img {
    background-image: url("../../public/meditation-2-lg.jpg");
  }
}

.testimonials {
  width: 100%;
  height: 50vh;
  color: $col-accent-tint-1;
  background-image: linear-gradient(
      rgba($col-white-primary, 0.4),
      rgba($col-white-primary, 0.4)
    ),
    url("../../public/sand-1-lg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &--logo {
    position: absolute;
    top: $pos-testimonials-top-offset;
    z-index: $z-index-top;
  }

  &--title {
    @include section--title($col-accent-tint-2, $letter-spacing-xs);
    font-size: $font-size-text-md;
    position: absolute;
    top: $pos-testimonials-top-offset + $pos-testimonials-title-add-offset;
    z-index: $z-index-top;
  }

  &--carousel {
    @include carousel(
      (3.6rem 20rem),
      rgba($col-main-primary, 0.65),
      $col-accent-tint-1,
      $col-main-primary,
      $col-accent-tint-1,
      $col-accent-tint-1,
      $col-accent-shade-1
    );
  }

  &--item {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $font-size-text-lg;
    width: 60%;
    height: 60%;
    padding: 0rem 10rem;
    border-left: $border-accent-sm;
    border-right: $border-accent-sm;
    background-color: transparent;

    & * {
      @include make-invisible;
      transform: translateY(-3rem);
      transition: transform 1.2s ease-in-out, opacity 1.2s ease-in-out;
    }

    &--quote {
      margin-bottom: $margin-flex-lg;
      color: $col-gray-tint-2;
      font-size: $font-size-text-lg;
    }

    &--name {
      margin-bottom: 0.4rem;
      color: $col-accent-primary;
      font-size: $font-size-text-md;
    }

    &--retreat {
      font-size: $font-size-text-md;
      @include btn--link($col-accent-tint-2, $col-main-primary);
    }
  }
}

.newsletter {
  background-color: $col-white-primary;
  display: grid;
  grid-template-columns: 65fr 55fr;
  height: 50vh;
  position: relative;
  margin-bottom: 0rem;

  &--signup {
    position: relative;

    &--box {
      position: absolute;
      bottom: 6rem;
      right: 15rem;
      display: flex;
      flex-direction: column;
      width: 40rem;
      font-size: $font-size-text-s;
      font-weight: $font-weight-sm;
      letter-spacing: 0.05rem;
    }

    &--box > * {
      margin-bottom: 3.2rem;
    }

    &--title {
      @include section--title($col-main-tint-1, none);
      font-size: $font-size-text-md;
      margin-bottom: 1.2rem;
    }

    &--form {
      display: flex;
      width: 100%;
      margin-top: -0.4rem;
    }

    &--input-group {
      @include input--group(
        30rem,
        $col-gray-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
    }

    &--btn {
      @include btn--default($col-gray-primary, $col-main-primary);
      border-right: none;
      border-left: none;
      border-top: none;
      border-bottom: $border-gray-sm;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      font-size: $font-size-text-s;
      text-decoration: underline 0.1rem $col-gray-primary;
      text-underline-offset: 0.9rem;
      flex: 0 1 auto;
      text-align: left;
      transition: $ani-default;

      &:hover {
        color: $col-main-tint-1;
        text-decoration-color: $col-main-tint-1;
      }
    }

    &--btn--link {
      @include btn--link($col-gray-primary, $col-main-tint-1);
      font-size: $font-size-text-s;
    }
  }

  &--img {
    background-image: url("../../public/forest-1-lg.jpg");
    background-size: cover;
  }
}
