@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/utilities";

.home {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(16rem, min-content) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-template-rows: 6.5vh 100vh 25vh repeat(3, min-content) 45vh 45vh min-content;

  &--nav {
    grid-column: full-start / full-end;
    grid-row: 1;
  }
}

.hero {
  @include banner(
    (
      linear-gradient(
        180deg,
        rgba($col-white-primary, 0),
        rgba($col-white-primary, 0.2)
      ),
      url("../../public/img/mountain-1-lg.jpg")
    ),
    (bottom 25% left 90%)
  );
  position: relative;
  grid-column: full-start / full-end;
  grid-row: 2;

  &--box {
    grid-column: col-start 6 / full-end;
    margin: 26rem 0rem;
  }

  &--title {
    @include section--title($col-main-tint-1, none);
    font-size: $font-size-text-md;
    display: block;
    margin-bottom: $margin-flex-lg * 1.5;
  }

  &--article {
    display: block;
    font-size: $font-size-header-md;
    color: $col-gray-tint-1;
    margin-bottom: $margin-flex-lg * 2;
  }

  &--btn {
    @include btn--link($col-gray-tint-1, $col-main-tint-1, 0.2);
    font-size: $font-size-text-md;
  }
}

.corporate {
  grid-column: full-start / full-end;
  grid-row: 3;
  position: relative;
  background-color: rgba($col-accent-primary, 0.5);
}

.bespoke {
  grid-column: full-start / full-end;
  grid-row: 4;
  @include z-layout(45fr);
  @include z-layout-article();

  &--img {
    background-image: url("../../public/img/limo-1-lg.jpg");
    background-position: bottom 50% left 0%;
  }
}

.immersive {
  grid-column: full-start / full-end;
  grid-row: 5;
  @include z-layout(45fr, true);
  @include z-layout-article(true);

  &--img {
    background-image: url("../../public/img/flower-2-lg.jpg");
    background-position: bottom 60% left 0%;
  }
}

.mindfulness {
  grid-column: full-start / full-end;
  grid-row: 6;
  @include z-layout(45fr);
  @include z-layout-article();

  &--img {
    background-image: url("../../public/img/meditation-group-3-lg.jpg");
    background-position: bottom 20% left 0%;
  }
}

.testimonials {
  grid-column: full-start / full-end;
  grid-row: 7;
  color: $col-accent-tint-1;
  background-image: linear-gradient(
      rgba($col-white-primary, 0.4),
      rgba($col-white-primary, 0.4)
    ),
    url("../../public/img/sand-1-lg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &--icon {
    @include icon-square($size-icon-square-md, $col-accent-tint-2);
    position: absolute;
    top: $pos-testimonials-top-offset;
    z-index: $z-index-top;
  }

  &--title {
    @include section--title($col-accent-tint-2, $letter-spacing-xs);
    font-size: $font-size-text-md;
    position: absolute;
    top: $pos-testimonials-top-offset + $pos-testimonials-title-add-offset;
    z-index: $z-index-top;
  }

  &--carousel {
    @include carousel(
      (3.6rem 20rem),
      rgba($col-main-primary, 0.65),
      $col-accent-tint-1,
      $col-main-primary,
      $col-accent-tint-1,
      $col-accent-tint-1,
      $col-accent-shade-1
    );
  }

  &--item {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $font-size-text-lg;
    width: 60%;
    height: 60%;
    padding: 0rem 10rem;
    border-left: $border-accent-sm;
    border-right: $border-accent-sm;
    background-color: transparent;

    & * {
      @include make-invisible;
      transform: translateY(-3rem);
      transition: transform 1.2s ease-in-out, opacity 1.2s ease-in-out;
    }

    &--quote {
      margin-bottom: $margin-flex-lg;
      color: $col-gray-tint-2;
      font-size: $font-size-text-lg;
    }

    &--name {
      margin-bottom: 0.4rem;
      color: $col-accent-primary;
      font-size: $font-size-text-md;
    }

    &--retreat {
      font-size: $font-size-text-md;
      @include btn--link($col-accent-tint-2, $col-main-primary, 0.6);
    }
  }
}

.newsletter {
  background-color: $col-white-primary;
  grid-column: full-start / full-end;
  grid-row: 8;
  display: grid;
  grid-template-columns: 65fr 55fr;
  position: relative;

  &--signup {
    position: relative;

    &--icon {
      height: $size-icon-square-lg;
      display: block;
      width: 14rem;
      fill: $col-main-primary;
      margin-bottom: 2rem !important;
      align-self: center;
    }

    &--box {
      position: absolute;
      bottom: 4rem;
      right: 15rem;
      display: flex;
      flex-direction: column;
      width: 40rem;
      font-size: $font-size-text-s;
      font-weight: $font-weight-sm;
      letter-spacing: 0.05rem;

      & > * {
        margin-bottom: 3.2rem;
      }

      & *:nth-child(2) {
        transition-delay: 0.2s;
      }

      & *:nth-child(3) {
        transition-delay: 0.2s;
      }

      & *:nth-child(4) {
        transition-delay: 0.3s;
      }

      & *:nth-child(5) {
        transition-delay: 0.3s;
      }

      & *:nth-child(6) {
        transition-delay: 0.4s;
      }

      & *:nth-child(7) {
        transition-delay: 0.4s;
      }
    }

    &--title {
      @include section--title($col-main-primary, none);
      font-size: $font-size-text-md;
      margin-bottom: 1.2rem;
    }

    &--socials {
      display: flex;
      margin-left: 0.4rem;
      gap: 0.8rem;

      &--icon {
        @include icon-square(
          $size-icon-square-sm,
          darken($col-main-primary, 5%)
        );
      }
    }

    &--form {
      display: flex;
      width: 100%;
      margin-top: -0.4rem;
    }

    &--input-group {
      @include input--group(
        30rem,
        $col-gray-primary,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );

      &--btn {
        @include btn--default($col-gray-primary, $col-main-primary, 0.2);
        border-right: none;
        border-left: none;
        border-top: none;
        border-bottom: $border-gray-sm;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-size: $font-size-text-s;
        text-decoration: underline 0.1rem $col-gray-primary;
        text-underline-offset: 0.8rem;
        flex: 0 1 auto;
        text-align: left;
        transition: $ani-default;

        &:hover {
          color: $col-main-tint-1;
          text-decoration-color: $col-main-tint-1;
        }
      }
    }

    &--btn--link {
      @include btn--link($col-gray-primary, $col-main-tint-1, 0.2);
      font-size: $font-size-text-s;
    }
  }

  &--img {
    background-image: url("../../public/img/meditation-4-lg.jpg");
    background-size: cover;
    background-position: bottom 30% left 0%;
  }
}

.home--footer {
  grid-column: full-start / full-end;
  grid-row: 9;
  @include footer(transparent, relative);
}
