@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/utilities";

.home--header {
  @include header(
    (
      linear-gradient(
        180deg,
        rgba($col-black-primary, 0.2),
        rgba($col-black-primary, 0.5)
      ),
      url("../../public/mountain-1-lg.jpg")
    ),
    (bottom 30% left 0%)
  );
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;

  &--box {
    display: block;
    position: absolute;
    top: 28rem;
    right: 38rem;
    text-align: left;
    color: $col-accent-tint-1;
  }

  &--btn {
    @include link-btn($col-accent-tint-1, $border-accent-thin);
  }

  &--title {
    display: block;
    margin-bottom: $margin-flex-lg * 1.5;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: $font-size-text-md;
    font-weight: $font-weight-md;
  }

  &--article {
    display: block;
    font-size: $font-size-header-lg;
    color: $col-gray-tint-1;
    margin-bottom: $margin-flex-lg * 3;
  }

  &--btn {
    font-size: $font-size-text-md;
  }
}

.corporate {
  width: 100%;
  height: 30vh;
  background-color: rgba($col-accent-primary, 0.5);
}

.immersive {
  &--img {
    background-image: url("../../public/alone-2-lg.jpg");
  }
}

.bespoke {
  &--img {
    background-image: url("../../public/bespoke-1-lg.jpg");
  }
}

.mindfulness {
  &--img {
    background-image: url("../../public/meditation-2-lg.jpg");
  }
}

.testimonials {
  width: 100%;
  height: 55vh;
  color: $col-accent-tint-2;
  background-image: url("../../public/sand-1-lg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &--logo {
    position: absolute;
    top: $pos-testimonials-top-offset;
    z-index: $z-index-top;
  }

  &--title {
    position: absolute;
    top: $pos-testimonials-top-offset + $pos-testimonials-title-add-offset;
    font-size: $font-size-text-md;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: $z-index-top;

  }

  &--item {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $font-size-text-lg;
    width: 72.5%;
    height: 60%;
    padding: 0rem 20rem;
    border-left: $border-accent-thin;
    border-right: $border-accent-thin;
    background-color: transparent;

    & * {
      @include make-invisible;
      transform: translateY(-3rem);
      transition: all 1.2s ease-in-out;
    }

    &--quote {
      margin-bottom: $margin-flex-lg;
      color: $col-accent-tint-1;
    }

    &--name {
      margin-bottom: 0.4rem;
      color: $col-accent-shade-1;
    }

    &--retreat { 
      @include link-btn($col-accent-primary, $border-accent-thin);
    }
  }
}

.newsletter {
  background-color: $col-main-shade-2;
  display: grid;
  grid-template-columns: 65fr 55fr;
  height: 50vh;

  &--signup {
    position: relative;

    &--box {
      position: absolute;
      bottom: 5rem;
      right: 15rem;
      display: flex;
      flex-direction: column;
      width: 40rem;
      font-size: $font-size-text-md;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      font-weight: $font-weight-xs;
      color: $col-accent-primary;
    }

    &--box > * {
      margin-bottom: 3.2rem;
    }

    &--title {
      margin-bottom: 1.2rem;
    }

    &--form {
      display: flex;
      width: 100%;
      margin-top: -0.4rem;
    }

    &--input-group {
      @include input--group(30rem);
    }

    &--btn {
      @include btn--default(none);
      border-bottom: $border-accent-thick;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      font-size: $font-size-text-s;
      text-decoration: underline 0.1rem $col-accent-primary;
      text-underline-offset: 0.9rem;
      flex: 0 1 auto;
      text-align: left;

      &:hover {
        text-decoration-color: $col-main-primary;
      }

    }

    &--questions {

    }

    &--contact {

    }

    &--link-btn {
      @include link-btn($col-accent-primary, $border-accent-thin);
      font-size: $font-size-text-s

    }

  }

  &--img {
    background-image: url("../../public/meditation-2-lg.jpg");
  }
}
