@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/utilities";

.new {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      12,
      [col-start] minmax(15rem, min-content) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-template-rows: 6.5vh 100vh repeat(4, min-content);

  &--nav {
    grid-column: full-start / full-end;
    grid-row: 1;
  }
}

.retreat--banner {
  @include banner(
    (
      linear-gradient(
        180deg,
        rgba($col-white-primary, 0.2),
        rgba($col-white-primary, 0.4)
      ),
      url("../../public/img/meditation-group-1-lg.jpg")
    ),
    (bottom left),
    true
  );
  grid-column: full-start/full-end;
  grid-row: 2;

  &--box {
    margin: 38rem 0rem;
    grid-column: col-start 8 / full-end;
  }
}

.about { 
  @include retreat-about();
  grid-column: full-start/full-end;
  grid-row: 3;

}

.new--footer {
  @include footer(transparent, relative);
  grid-column: full-start / full-end;
  grid-row: -1;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 97%;
    bottom: 0rem;
    left: 1.5%;
    background-color: rgba($col-accent-tint-2, 0.5);
  }
}
