@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/utilities";
@import "../abstracts/media";

.upcoming {
  &--footer {
    @include footer(transparent, relative);
  }
}

.banner {
  @include banner(
    (
      linear-gradient(
        rgba($col-white-primary, 0.2),
        rgba($col-white-primary, 0.6)
      ),
      url("../../public/img/upcoming-pg/meditation-2-lg.jpg")
    ),
    (bottom 65% left 0%)
  );
  height: 92vh;

  @include media-queries(phone-xl) {
    height: 75vh;
  }

  @include media-queries(phone-lg) {
    height: 62vh;
  }

  @include media-queries(phone) {
    height: 55vh;
  }

  &--box {
    background-color: rgba($col-accent-primary, 0.8);
    text-align: left;
    padding: 4.8rem;
    width: 45%;
    transition-delay: 0.6s;

    @include media-queries(laptop-lg) {
      width: 50%;
    }

    @include media-queries(tab-land) {
      width: 60%;
    }

    @include media-queries(tab-sm-land) {
      width: 65%;
    }

    @include media-queries(phone-xl) {
      width: 70%;
    }

    @include media-queries(phone-lg) {
      width: 90%;
    }

    @include media-queries(phone) {
      width: 100%;
    }
  }

  &--title {
    @include section--title(
      $col-main-primary,
      $letter-spacing-xs,
      $font-size-header-lg
    );
    margin-bottom: 1rem;
  }

  &--caption {
    color: $col-gray-tint-1;
    line-height: $font-line-height-md;
    margin-bottom: 0.8rem;

    @include media-queries(phone-xl) {
      font-size: $font-size-header-md;
    }
  }

  &--details {
    @include media-queries(phone-xl) {
      font-size: $font-size-text-md;
    }
  }
}

.new {
  &--0 {
    @include retreat-summary;
    &--header {
      @include media-queries(phone-xl) {
        font-size: $font-size-header-lg;
      }
    }

    &--title {
      @include media-queries(phone-xl) {
        font-size: $font-size-header-lg;
      }
    }

    &--desc {
      @include media-queries(tab-sm-land) {
        padding: 4rem 10rem;
      }

      @include media-queries(phone-lg) {
        padding: 4rem 8rem;
      }
    }

    &--icon {
      &--group {
        @include media-queries(laptop-sm) {
          gap: 1rem;
        }

        @include media-queries(tab-land) {
          display: grid;
          grid-template-columns: 30fr min-content(40fr, 20vw),
            min-content(30fr, 20vw);
          grid-template-rows: repeat(2, 1fr);
          gap: 1.5rem;
        }

        @include media-queries(phone-lg) {
          display: grid;
          grid-template-columns: min-content(1fr, 50vw), min-content(1fr, 50vw);
          grid-template-rows: repeat(3, 1fr);
          row-gap: 1rem;
          column-gap: 1.5rem;
        }
      }

      &--date {
        @include media-queries(tab-land) {
          grid-column: 2;
          grid-row: 1;
        }

        @include media-queries(phone-lg) {
          grid-column: 1;
          grid-row: 1;
        }
      }
      &--time {
        @include media-queries(tab-land) {
          grid-column: 3;
          grid-row: 1;
        }

        @include media-queries(phone-lg) {
          grid-column: 2;
          grid-row: 1;
        }
      }
      &--location {
        @include media-queries(tab-land) {
          grid-column: 2;
          grid-row: 2;
        }

        @include media-queries(phone-lg) {
          grid-column: 1;
          grid-row: 2;
        }
      }
      &--price {
        @include media-queries(tab-land) {
          grid-column: 3;
          grid-row: 2;
        }

        @include media-queries(phone-lg) {
          grid-column: 2;
          grid-row: 2;
        }
      }
    }

    &--btn {
      &--outer {
        @include media-queries(tab-land) {
          grid-column: 1;
          grid-row: 1 / -1;
          justify-self: center;
        }

        @include media-queries(phone-lg) {
          grid-column: 1 / 3;
          grid-row: 3;
          justify-self: center;
        }
      }
    }
  }
  &--1 {
    @include retreat-summary;
    &--header {
      @include media-queries(phone-xl) {
        font-size: $font-size-header-lg;
      }
    }

    &--title {
      @include media-queries(phone-xl) {
        font-size: $font-size-header-lg;
      }
    }

    &--desc {
      @include media-queries(tab-sm-land) {
        padding: 4rem 10rem;
      }

      @include media-queries(phone-lg) {
        padding: 4rem 8rem;
      }
    }

    &--icon {
      &--group {
        @include media-queries(laptop-sm) {
          gap: 1rem;
        }

        @include media-queries(tab-land) {
          display: grid;
          grid-template-columns: 30fr min-content(40fr, 20vw),
            min-content(30fr, 20vw);
          grid-template-rows: repeat(2, 1fr);
          gap: 1.5rem;
        }

        @include media-queries(phone-lg) {
          display: grid;
          grid-template-columns: min-content(1fr, 50vw), min-content(1fr, 50vw);
          grid-template-rows: repeat(3, 1fr);
          row-gap: 1rem;
          column-gap: 1.5rem;
        }
      }

      &--date {
        @include media-queries(tab-land) {
          grid-column: 2;
          grid-row: 1;
        }

        @include media-queries(phone-lg) {
          grid-column: 1;
          grid-row: 1;
        }
      }
      &--time {
        @include media-queries(tab-land) {
          grid-column: 3;
          grid-row: 1;
        }

        @include media-queries(phone-lg) {
          grid-column: 2;
          grid-row: 1;
        }
      }
      &--location {
        @include media-queries(tab-land) {
          grid-column: 2;
          grid-row: 2;
        }

        @include media-queries(phone-lg) {
          grid-column: 1;
          grid-row: 2;
        }
      }
      &--price {
        @include media-queries(tab-land) {
          grid-column: 3;
          grid-row: 2;
        }

        @include media-queries(phone-lg) {
          grid-column: 2;
          grid-row: 2;
        }
      }
    }

    &--btn {
      &--outer {
        @include media-queries(tab-land) {
          grid-column: 1;
          grid-row: 1 / -1;
          justify-self: center;
        }

        @include media-queries(phone-lg) {
          grid-column: 1 / 3;
          grid-row: 3;
          justify-self: center;
        }
      }
    }
  }
  &--2 {
    @include retreat-summary;
    &--header {
      @include media-queries(phone-xl) {
        font-size: $font-size-header-lg;
      }
    }

    &--title {
      @include media-queries(phone-xl) {
        font-size: $font-size-header-lg;
      }
    }

    &--desc {
      @include media-queries(tab-sm-land) {
        padding: 4rem 10rem;
      }

      @include media-queries(phone-lg) {
        padding: 4rem 8rem;
      }
    }

    &--icon {
      &--group {
        @include media-queries(laptop-sm) {
          gap: 1rem;
        }

        @include media-queries(tab-land) {
          display: grid;
          grid-template-columns: 30fr min-content(40fr, 20vw),
            min-content(30fr, 20vw);
          grid-template-rows: repeat(2, 1fr);
          gap: 1.5rem;
        }

        @include media-queries(phone-lg) {
          display: grid;
          grid-template-columns: min-content(1fr, 50vw), min-content(1fr, 50vw);
          grid-template-rows: repeat(3, 1fr);
          row-gap: 1rem;
          column-gap: 1.5rem;
        }
      }

      &--date {
        @include media-queries(tab-land) {
          grid-column: 2;
          grid-row: 1;
        }

        @include media-queries(phone-lg) {
          grid-column: 1;
          grid-row: 1;
        }
      }
      &--time {
        @include media-queries(tab-land) {
          grid-column: 3;
          grid-row: 1;
        }

        @include media-queries(phone-lg) {
          grid-column: 2;
          grid-row: 1;
        }
      }
      &--location {
        @include media-queries(tab-land) {
          grid-column: 2;
          grid-row: 2;
        }

        @include media-queries(phone-lg) {
          grid-column: 1;
          grid-row: 2;
        }
      }
      &--price {
        @include media-queries(tab-land) {
          grid-column: 3;
          grid-row: 2;
        }

        @include media-queries(phone-lg) {
          grid-column: 2;
          grid-row: 2;
        }
      }
    }

    &--btn {
      &--outer {
        @include media-queries(tab-land) {
          grid-column: 1;
          grid-row: 1 / -1;
          justify-self: center;
        }

        @include media-queries(phone-lg) {
          grid-column: 1 / 3;
          grid-row: 3;
          justify-self: center;
        }
      }
    }
  }
}
