@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/utilities";

.upcoming {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(17.5rem, min-content) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-template-rows: 8.5vh 110vh repeat(4, min-content) min-content;

  &--nav {
    grid-column: full-start / full-end;
    grid-row: 1;
  }

  &--footer {
    @include footer(transparent, relative);
    grid-column: full-start / full-end;
    grid-row: -1;
  }
}

.book {
  &--modal {
    @include modal;
  }

  &--img {
    background-size: cover;

    &--outer {
      grid-column: 1;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }

    &--1 {
      background-image: url("../../public/img/meditation-1-lg.jpg");
      grid-row: 1;
    }

    &--2 {
      background-image: url("../../public/img/meditation-4-lg.jpg");
      grid-row: 2;
    }
  }

  &--aside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: $font-size-text-md;
    padding: 0rem 8rem;

    &--content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.2rem;
      margin-bottom: 4rem;
    }

    &--title {
      @include section--title($col-main-tint-1, $letter-spacing-xs);
      margin-bottom: 1.8rem;

      & span {
        font-size: $font-size-header-md;
      }
    }
  }

  &--form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, min-content);
    align-items: start;
    column-gap: 2.4rem;
    row-gap: 3.2rem;

    &--first-name {
      @include input--group(
        $size-contact-us-input-width,
        $col-gray-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
      grid-column: 1 / 3;
      grid-row: 2;
    }

    &--last-name {
      @include input--group(
        $size-contact-us-input-width,
        $col-gray-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
      grid-column: 3 / -1;
      grid-row: 2;
    }

    &--email {
      @include input--group(
        $size-contact-us-input-width,
        $col-gray-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
      grid-column: 1 / 3;
      grid-row: 3;
    }

    &--contact {
      @include input--group(
        $size-contact-us-input-width,
        $col-gray-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
      grid-column: 3 / -1;
      grid-row: 3;
    }

    &--num {
      @include input--group(
        $size-contact-us-input-width,
        $col-gray-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up
      );
      grid-column: 1 / 3;
      grid-row: 1;
    }

    &--retreat-name {
      @include input--group(
        $size-contact-us-input-width,
        $col-gray-tint-1,
        $pos-input-label-x,
        $pos-input-label-y,
        $pos-input-label-translate-up,
        "select"
      );
      grid-column: 3 / -1;
      grid-row: 1;
    }

    &--message {
      @include input--group(
        $size-contact-us-input-width,
        $col-gray-tint-1,
        0.8rem,
        0.4rem,
        $pos-input-label-translate-up,
        "textarea"
      );
      width: 95%;
      grid-column: 1 / -1;
      grid-row: 4;

      & label {
        top: 0rem;
      }
    }

    &--vaccinate {
      grid-column: 1 / -1;
      grid-row: 5;

      @include custom--radio($col-gray-tint-1);
    }


    &--btn {
      grid-column: 1 / -1;
      grid-row: 6;
      @include btn--link($col-gray-tint-1, $col-main-primary, 0.6, true);
      justify-self: start;
      margin-top: 1.2rem;
    }
  }
}

.retreat--banner {
  @include banner(
    (
      linear-gradient(
        180deg,
        rgba($col-white-primary, 0.2),
        rgba($col-white-primary, 0.4)
      ),
      url("../../public/img/meditation-group-1-lg.jpg")
    ),
    (bottom 100% left),
    true
  );
  grid-column: full-start/full-end;
  grid-row: 2;

  &--box {
    margin: 28rem 0rem;
    grid-column: col-start 7 / full-end;
    transition-delay: 0.6s;
  }

  &--btn {
    border-bottom: $border-gray-sm;
    border-top: $border-gray-sm;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

.intentions {
  @include description--section();
  grid-column: full-start/full-end;
  grid-row: 3;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 97%;
    bottom: -18rem;
    left: 1.5%;
    background-color: rgba($col-accent-tint-2, 0.5);
    z-index: $z-index-top;
  }

  &--img {
    grid-column: col-start 1 / col-end 3;
    grid-row: 3;
    background-image: url("../../public/img/intentions-1-lg.jpg");
    background-position: bottom;
    width: 100%;
    height: 90%;
    margin: 12rem -10rem 0rem auto;
  }

  &--aside {
    font-size: $font-size-text-md;
    line-height: $font-line-height-lg;
    grid-column: col-end 3 / full-end;
    grid-row: 3;

    &--box {
      background-color: $col-main-primary;
      padding: 8rem 18rem 8rem 18rem;
      margin-top: 18rem;
    }

    &--title {
      @include section--title($col-accent-primary, $letter-spacing-xs);
      border-bottom: $border-accent-sm;
      margin-bottom: 2.4rem;
    }

    &--content {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      color: $col-accent-tint-1;
      padding-right: 10rem;
      margin-left: 2.4rem;

      & p:first-child {
        font-size: $font-size-header-sm;
        padding-right: 30rem;
        margin-bottom: 0.8rem;
        color: $col-gray-tint-3;
      }
    }
  }
}

.expect {
  @include description--section();
  grid-column: full-start/full-end;
  grid-row: 4;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 97%;
    bottom: -16rem;
    left: 1.5%;
    background-color: rgba($col-accent-tint-2, 0.5);
    z-index: $z-index-top;
  }

  &--img {
    grid-column: col-end 6 / center-end;
    grid-row: 4;
    box-shadow: none;

    &--composition {
      @include img-composition(
        -10rem,
        -2rem,
        24rem,
        4rem,
        0rem,
        30rem,
        $pos-expect-img-top-offset,
        $pos-expect-img-left-offset
      );
      position: relative;
      box-shadow: none;
      z-index: $z-index-top;
      margin-top: 10rem;

      &--img {
        width: 75%;

        &--1 {
          z-index: $z-index-top;
        }

        &--2 {
          z-index: $z-index-top - 2;
        }

        &--3 {
          z-index: $z-index-top - 1;
        }
      }
    }
  }

  &--aside {
    font-size: $font-size-text-md;
    line-height: $font-line-height-lg;
    grid-column: full-start / col-end 6;
    grid-row: 4;

    &--box {
      background-color: $col-main-primary;
      padding: 8rem 12rem 8rem 6.5rem;
      margin-top: 36rem;
    }

    &--title {
      @include section--title($col-accent-primary, $letter-spacing-xs);
      border-bottom: $border-accent-sm;
      margin-right: 6rem;
      margin-bottom: 2.4rem;
    }

    &--content {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      color: $col-accent-tint-1;
      padding-right: 8rem;
      margin-left: 2.4rem;

      & p:first-child {
        font-size: $font-size-header-sm;
        padding-right: 8rem;
        margin-bottom: 0.8rem;
        color: $col-gray-tint-3;
      }
    }
  }
}

.guide {
  @include description--section();
  grid-column: full-start/full-end;
  grid-row: 5;

  &--img {
    grid-column: col-start 1 / col-end 3;
    grid-row: 5;
    background-image: url("../../public/img/groot-1-sm.jpg");
    background-position: bottom 80% left 0%;
    width: 100%;
    height: 80%;
    margin: 26rem -20rem 0rem auto;
  }

  &--aside {
    font-size: $font-size-text-md;
    line-height: $font-line-height-lg;
    grid-column: col-end 3 / full-end;
    grid-row: 5;

    &--box {
      background-color: $col-main-primary;
      padding: 8rem 8rem 8rem 26rem;
      margin-top: 34rem;
    }

    &--title {
      @include section--title($col-accent-tint-1, $letter-spacing-xs);
      border-bottom: $border-accent-sm;
      margin-bottom: 2.4rem;
    }

    &--content {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      color: $col-accent-tint-1;
      padding-right: 10rem;
      margin-left: 2.4rem;

      & p:first-child {
        font-size: $font-size-header-sm;
        padding-right: 24rem;
        margin-bottom: 0.8rem;
        color: $col-gray-tint-3;
      }
    }
  }
}

.schedule {
  grid-column: full-start / full-end;
  grid-row: 6;
  @include z-layout(45fr);
  @include schedule(7);
  position: relative;
  margin-top: 20rem;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    width: 100%;
    top: 0rem;
    background-color: rgba($col-accent-tint-2, 0.5);
    z-index: $z-index-top;
  }

  &--img {
    background-image: url("../../public/img/journey-1-lg.jpg");
    background-position: bottom 80% left 0%;
  }

  &--layout {
    grid-column: 2;
    margin-left: -16rem;
    transition-delay: 0.2s;
    margin-top: 10rem;
  }

  &--title {
    @include section--title($col-main-primary, $letter-spacing-s);
    margin-bottom: 4rem;
  }

  &--time {
    font-size: $font-size-header-md;
    margin-bottom: 1.2rem;
  }

  &--icon {
    @include icon-square($size-icon-square-lg, $col-main-primary);

    &--outer {
      margin-top: 0.4rem;
      align-items: center;
      font-size: $font-size-text-s;
      line-height: 0.5;
      color: $col-main-primary;
    }
  }

  &--activity {
    margin-top: 1.2rem;

    &--title {
      @include section--title($col-main-primary, $letter-spacing-xs);
    }

    &--desc {
      font-size: $font-size-text-md;
      padding-right: 20rem;
    }
  }

  &--btn {
    @include btn--link($col-gray-tint-1, $col-main-primary, 0.2);
    grid-column: full-start / full-end;
    font-size: $font-size-text-md;
    border-bottom: $border-gray-sm;
    border-top: $border-gray-sm;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-top: 2rem;
  }
}

.cta {
  grid-column: full-start / full-end;
  grid-row: 7;
  background-image: linear-gradient(
      180deg,
      rgba($col-white-primary, 0.4),
      rgba($col-white-primary, 0.6)
    ),
    url("../../public/img/sand-1-lg.jpg");
  background-size: cover;
  background-position: bottom 60% left 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;

  &--card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba($col-main-primary, 0.75);
    color: $col-gray-tint-2;
    font-size: $font-size-text-md;
    padding: 5rem 10rem;
    gap: 3.2rem;
    margin: 0rem 70rem;
  }

  &--title {
    @include section--title($col-accent-tint-2, $letter-spacing-xs);
  }

  &--retreat-name {
    font-size: $font-size-header-sm;
  }

  &--price {
    font-size: $font-size-text-lg;
    margin-top: -3rem;
  }

  &--content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: -3rem;

    &--title {
      @include section--title($col-accent-tint-2, $letter-spacing-xs);
      font-size: $font-size-text-md;
      text-align: center;
      margin-bottom: 1.2rem;
    }

    & p {
      text-align: left;
    }
  }
  &--btn {
    @include btn--link($col-accent-tint-2, $col-main-primary, 0.6);
    align-self: center;
    border-bottom: $border-accent-sm;
    border-top: $border-accent-sm;
  }
}
