@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/animations";
@import "../base/utilities";
@import "../abstracts/media";

.upcoming {
  &--footer {
    @include footer(transparent, relative);
  }
}

.banner {
  @include banner(
    (
      linear-gradient(
        rgba($col-white-primary, 0.2),
        rgba($col-white-primary, 0.6)
      ),
      url("../../public/img/upcoming-pg/meditation-2-lg.jpg")
    ),
    (bottom 65% left 0%)
  );
  height: 90vh;

  @include media-queries(tab-land) {
    height: 80vh;
  }

  @include media-queries(phone-xl) {
    height: 75vh;
  }

  @include media-queries(phone-lg) {
    height: 62vh;
  }

  @include media-queries(phone) {
    height: 55vh;
  }

  &--box {
    background-color: rgba($col-accent-primary, 0.8);
    font-size: $font-size-text-lg;
    text-align: left;
    padding: 4.8rem;
    width: 45%;
    transition-delay: 0.6s;
  }

  &--title {
    @include section--title($col-main-primary, $letter-spacing-xs);
    margin-bottom: 1rem;

    @include media-queries(phone-xl) {
      font-size: $font-size-text-lg;
    }
  }

  &--caption {
    color: $col-gray-tint-1;
    line-height: $font-line-height-md;
    margin-bottom: 0.8rem;

    @include media-queries(phone-xl) {
      font-size: $font-size-header-md;
    }
  }

  &--details {
    @include media-queries(phone-xl) {
      font-size: $font-size-text-md;
    }
  }
}

.new {
  &--0 {
    display: flex;
    flex-direction: column;
    margin: 10rem 0rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 0.2rem;
      width: 97%;
      top: 0rem;
      left: 1.5%;
      background-color: rgba($col-accent-tint-2, 0.5);
      z-index: $z-index-top;
    }

    &--header {
      @include section--title($col-main-primary, $letter-spacing-xs);
      font-size: $font-size-header-lg;
      margin-bottom: 2rem;

      &--grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        margin-bottom: 5rem;
      }
    }

    &--title {
      @include section--title($col-main-primary, $letter-spacing-xs);
      font-size: $font-size-header-lg;
      margin-bottom: 5rem;
    }

    &--caption {
      @include font-text;
      font-size: $font-size-text-lg;
      color: $col-gray-tint-1;
      padding: 0rem 35rem;
    }

    &--img {
      object-fit: cover;

      &--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 38vw;
        margin: 0rem 20rem;
        gap: 0.8rem;
      }

      &--box {
        position: relative;
        overflow: hidden;
      }
    }

    &--desc {
      font-size: $font-size-header-sm;
      @include font-text;
      padding: 4rem 24rem;

      &--grid {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &--icon {
      @include icon-square($size-icon-square-xs, $col-gray-primary);
      margin-right: 1.2rem;

      &--group {
        display: flex;
        gap: 2rem;
        align-self: start;
        margin-left: 24rem;
      }

      &--outer {
        display: flex;
        align-items: center;
        font-size: $font-size-text-md;
        margin-left: 1.2rem;
      }
    }

    &--promo {
      margin-top: 1.4rem;
      color: $col-gray-tint-1;
    }

    &--btn {
      @include btn--link($col-gray-tint-1, $col-main-primary, 0.6, true);
      font-size: $font-size-header-sm;
      margin-right: 4rem;
    }
  }
  &--1 {
    display: flex;
    flex-direction: column;
    margin: 10rem 0rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 0.2rem;
      width: 97%;
      top: 0rem;
      left: 1.5%;
      background-color: rgba($col-accent-tint-2, 0.5);
      z-index: $z-index-top;
    }

    &--header {
      @include section--title($col-main-primary, $letter-spacing-xs);
      font-size: $font-size-header-lg;
      margin-bottom: 2rem;

      &--grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        margin-bottom: 5rem;
      }
    }

    &--title {
      @include section--title($col-main-primary, $letter-spacing-xs);
      font-size: $font-size-header-lg;
      margin-bottom: 5rem;
    }

    &--caption {
      @include font-text;
      font-size: $font-size-text-lg;
      color: $col-gray-tint-1;
      padding: 0rem 35rem;
    }

    &--img {
      object-fit: cover;

      &--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 38vw;
        margin: 0rem 20rem;
        gap: 0.8rem;
      }

      &--box {
        position: relative;
        overflow: hidden;
      }
    }

    &--desc {
      font-size: $font-size-header-sm;
      @include font-text;
      padding: 4rem 24rem;

      &--grid {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &--icon {
      @include icon-square($size-icon-square-xs, $col-gray-primary);
      margin-right: 1.2rem;

      &--group {
        display: flex;
        gap: 2rem;
        align-self: start;
        margin-left: 24rem;
      }

      &--outer {
        display: flex;
        align-items: center;
        font-size: $font-size-text-md;
        margin-left: 1.2rem;
      }
    }

    &--promo {
      margin-top: 1.4rem;
      color: $col-gray-tint-1;
    }

    &--btn {
      @include btn--link($col-gray-tint-1, $col-main-primary, 0.6, true);
      font-size: $font-size-header-sm;
      margin-right: 4rem;
    }
  }
  &--2 {
    display: flex;
    flex-direction: column;
    margin: 10rem 0rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 0.2rem;
      width: 97%;
      top: 0rem;
      left: 1.5%;
      background-color: rgba($col-accent-tint-2, 0.5);
      z-index: $z-index-top;
    }

    &--header {
      @include section--title($col-main-primary, $letter-spacing-xs);
      font-size: $font-size-header-lg;
      margin-bottom: 2rem;

      &--grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        margin-bottom: 5rem;
      }
    }

    &--title {
      @include section--title($col-main-primary, $letter-spacing-xs);
      font-size: $font-size-header-lg;
      margin-bottom: 5rem;
    }

    &--caption {
      @include font-text;
      font-size: $font-size-text-lg;
      color: $col-gray-tint-1;
      padding: 0rem 35rem;
    }

    &--img {
      object-fit: contain;

      &--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 38vw;
        margin: 0rem 20rem;
        gap: 0.8rem;
      }

      &--box {
        position: relative;
        overflow: hidden;
      }
    }

    &--desc {
      font-size: $font-size-header-sm;
      @include font-text;
      padding: 4rem 24rem;

      &--grid {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &--icon {
      @include icon-square($size-icon-square-xs, $col-gray-primary);
      margin-right: 1.2rem;

      &--group {
        display: flex;
        gap: 2rem;
        align-self: start;
        margin-left: 24rem;
      }

      &--outer {
        display: flex;
        align-items: center;
        font-size: $font-size-text-md;
        margin-left: 1.2rem;
      }
    }

    &--promo {
      margin-top: 1.4rem;
      color: $col-gray-tint-1;
    }

    &--btn {
      @include btn--link($col-gray-tint-1, $col-main-primary, 0.6, true);
      font-size: $font-size-header-sm;
      margin-right: 4rem;
    }
  }
}
