@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";

@import "../../../sass/base/animations";
@import "../../../sass/base/utilities";

.nav {
  width: 100vw;
  display: flex;
  background-color: $bg-accent-primary-col;
  flex-wrap: nowrap;
  align-content: center;

  &--list {
    @include flex-container;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $y-padding-sm 0rem;
    gap: 3.6rem;
  }

  &--link {
    display: inline-block;
    position: relative;
    font-weight: $font-weight-sm;
    color: $text-header-primary-col;
    transition: color $link-underline-time ease-out;
    font-size: $text-header-size;

    &::after {
      @extend %ani-link-after;
    }

    &:hover::after {
      @extend %ani-link-hover-after;
    }

    &:hover {
      @extend %link-hover;
      transform-origin: bottom left;
    }

    &:active {
      @extend %link-active;
    }
  }

  &--cta{
    display: inline-block;
    margin: 1.2rem;
    margin-left: auto;
    align-self: center;
    flex: 1 0 auto;
  }

  &--cta a {
    @extend %btn-link;
    font-size: $text-header-size;
    font-weight: $font-weight-lg;
  }

  


}
