@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";

@import "../../../sass/base/animations";
@import "../../../sass/base/utilities";

.nav {
  width: 100vw;
  background-color: transparent;

  &--list {
    @include flex-container;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $padding-layout-lg 0rem;
    gap: 22.8rem;

    &--sides {
      @include flex-container;
      justify-content: center;
      width: 20%;
      gap: 1rem;
    }
  }

  &--link {
    display: inline-block;
    position: relative;
    font-weight: $font-weight-sm;
    color: $col-main-shade-2;
    transition: color $ani-time-link ease-out;
    font-size: $font-size-nav-lg;

    &::after {
      @extend %ani-link-after;
    }

    &:hover::after {
      @extend %ani-link-hover-after;
    }

    &:hover {
      @extend %link-hover;
      transform-origin: bottom left;
    }

    &:active {
      @extend %link-active;
    }
  }
}
