@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";

.nav {
  width: 100vw;
  display: block;
  background-color: $bg-accent-primary-col;

  &--list {
    @include flex-container;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2.4rem;
  }

  &--link {
    display: inline-block;
    color: $text-header-primary-col;
  }

  &--link {

    display: inline-block;
    color: $text-header-primary-col;

    &:hover {
      text-decoration: underline solid;
      text-decoration-color: red;
    }

  }

}